In [48]:
import os
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display
import importlib

In [49]:
activity = pd.read_csv('Activity.csv')
physiology = pd.read_csv('Physiology.csv')
labels = pd.read_csv('Labels.csv')
sleep = pd.read_csv('Sleep.csv')
demographics = pd.read_csv('Demographics.csv')

activity = activity.rename(columns={
    'patient_id': 'id',
    'date': 'date-time',
    'location_name': 'location'})

physiology = physiology.rename(columns={
    'patient_id': 'id',
    'date': 'date-time',
    'device_type': 'type'})

labels = labels.rename(columns={
    'patient_id': 'id',
    'date': 'date-time'})

sleep = sleep.rename(columns={
    'patient_id': 'id',
    'date': 'date-time'})

demographics = demographics.rename(columns={
    'patient_id': 'id'})

# Standardize location names
activity['location'] = activity['location'].replace({
    'Back Door': 'back-door',
    'Bathroom': 'bathroom',
    'Bedroom': 'bedroom',
    'Fridge Door': 'fridge-door',
    'Front Door': 'front-door',
    'Hallway': 'hallway',
    'Kitchen': 'kitchen',
    'Lounge': 'lounge'
})


physiology['type'] = physiology['type'].replace({
    'Body Temperature': 'body-temperature',
    'Systolic blood pressure': 'systolic-blood-pressure',
    'Diastolic blood pressure': 'diastolic-blood-pressure',
    'Heart rate': 'heart-rate',
    'Body weight': 'body-weight',
    'O/E - muscle mass': 'muscle-mass',
    'Total body water': 'total-body-water',
    'Skin Temperature': 'skin-temperature'
})


labels['type'] = labels['type'].replace({
    'Blood pressure': 'blood-pressure',
    'Agitation': 'agitation',
    'Body water': 'body-water',
    'Pulse': 'pulse',
    'Weight': 'weight',
    'Body temperature': 'body-temperature-label'
})


demographics['sex'] = demographics['sex'].map({'Female': 0, 'Male': 1})
demographics['age'] = demographics['age'].map({'(70, 80]': 75, '(80, 90]': 85, '(90, 110]': 100})

In [50]:
print(activity.shape,
      physiology.shape,
      labels.shape,
      sleep.shape,
      demographics.shape)

(1030559, 3) (17680, 5) (608, 3) (461423, 6) (56, 3)

In [51]:
print(activity.columns.values)
print(physiology.columns.values)
print(labels.columns.values)
print(sleep.columns.values)
print(demographics.columns.values)

['id' 'location' 'date-time']
['id' 'date-time' 'type' 'value' 'unit']
['id' 'date-time' 'type']
['id' 'date-time' 'state' 'heart_rate' 'respiratory_rate' 'snoring']
['id' 'age' 'sex']

In [52]:
print(activity.location.unique())
print(physiology.type.unique())
print(labels.type.unique())
print(sleep.state.unique())
print(demographics.age.unique(), demographics.sex.unique())

['fridge-door' 'kitchen' 'front-door' 'bedroom' 'back-door' 'bathroom'
 'lounge' 'hallway']
['body-temperature' 'systolic-blood-pressure' 'diastolic-blood-pressure'
 'heart-rate' 'body-weight' 'muscle-mass' 'total-body-water'
 'skin-temperature']
['blood-pressure' 'agitation' 'body-water' 'pulse' 'weight'
 'body-temperature-label']
['AWAKE' 'LIGHT' 'DEEP' 'REM']
[ 75  85 100] [0 1]

In [53]:
print(activity.id.unique().shape)
print(physiology.id.unique().shape)
print(labels.id.unique().shape)
print(sleep.id.unique().shape)
print(demographics.id.unique().shape)

(56,)
(56,)
(49,)
(17,)
(56,)

In [113]:
# Activity

import utils_data
importlib.reload(utils_data)

from utils_data import extract_6h_count, extract_6h_contextual, extract_6h_statistical

destination = '/home/ali/PycharmProjects/tihm/dataset'

data_activity = []

for idx, (id, group) in enumerate(activity.sort_values('id').groupby('id')):

    group['date-time'] = pd.to_datetime(group['date-time'])
    group = group.sort_values('date-time')
    group['date'] = group['date-time'].dt.date


    daily_count = extract_6h_count(group)
    daily_contextual = extract_6h_contextual(group)
    daily_statistical = extract_6h_statistical(group)

    daily = daily_count.merge(daily_contextual, on=['id', 'date', '6h'], how='outer').merge(daily_statistical, on=['id', 'date', '6h'], how='outer')

    data_activity.append(daily)


data_activity = pd.concat(data_activity, ignore_index=True)
data_activity.to_csv(os.path.join(destination, 'data-06h-activity' + '.csv'), index=False)
print(data_activity.shape)

         id     location           date-time        date
0     0697d  fridge-door 2019-06-28 13:03:29  2019-06-28
1     0697d      kitchen 2019-06-28 13:11:44  2019-06-28
2     0697d   front-door 2019-06-28 13:13:50  2019-06-28
3     0697d      bedroom 2019-06-28 13:13:53  2019-06-28
4     0697d  fridge-door 2019-06-28 13:14:09  2019-06-28
...     ...          ...                 ...         ...
1039  0697d      bedroom 2019-06-30 23:34:32  2019-06-30
1040  0697d      bedroom 2019-06-30 23:36:57  2019-06-30
1041  0697d      bedroom 2019-06-30 23:38:44  2019-06-30
1042  0697d      bedroom 2019-06-30 23:39:49  2019-06-30
1043  0697d      bedroom 2019-06-30 23:44:25  2019-06-30

[1044 rows x 4 columns]
          id     location           date-time        date
1044   099bc      kitchen 2019-05-15 12:19:32  2019-05-15
1045   099bc   front-door 2019-05-15 12:20:20  2019-05-15
1046   099bc  fridge-door 2019-05-15 12:20:21  2019-05-15
1047   099bc    back-door 2019-05-15 12:20:24  2019-05-15
1048   099bc      kitchen 2019-05-15 12:23:22  2019-05-15
...      ...          ...                 ...         ...
12977  099bc      bedroom 2019-06-30 22:47:31  2019-06-30
12978  099bc      bedroom 2019-06-30 23:24:04  2019-06-30
12979  099bc     bathroom 2019-06-30 23:24:25  2019-06-30
12980  099bc     bathroom 2019-06-30 23:26:43  2019-06-30
12981  099bc      bedroom 2019-06-30 23:26:56  2019-06-30

[11938 rows x 4 columns]
          id     location           date-time        date
12982  0cda9    back-door 2019-04-15 13:22:50  2019-04-15
12983  0cda9  fridge-door 2019-04-15 13:22:52  2019-04-15
12984  0cda9       lounge 2019-04-15 13:24:22  2019-04-15
12985  0cda9      bedroom 2019-04-15 13:24:59  2019-04-15
12986  0cda9     bathroom 2019-04-15 13:25:30  2019-04-15
...      ...          ...                 ...         ...
43924  0cda9  fridge-door 2019-06-30 22:58:31  2019-06-30
43925  0cda9  fridge-door 2019-06-30 22:59:19  2019-06-30
43926  0cda9      kitchen 2019-06-30 23:00:00  2019-06-30
43927  0cda9      hallway 2019-06-30 23:00:06  2019-06-30
43928  0cda9       lounge 2019-06-30 23:00:46  2019-06-30

[30947 rows x 4 columns]
          id     location           date-time        date
43929  0d5ef    back-door 2019-05-13 09:35:02  2019-05-13
43930  0d5ef  fridge-door 2019-05-13 09:35:03  2019-05-13
43931  0d5ef      bedroom 2019-05-13 09:37:13  2019-05-13
43932  0d5ef       lounge 2019-05-13 09:38:24  2019-05-13
43933  0d5ef     bathroom 2019-05-13 09:39:17  2019-05-13
...      ...          ...                 ...         ...
63424  0d5ef      bedroom 2019-06-30 22:17:15  2019-06-30
63425  0d5ef      bedroom 2019-06-30 22:18:18  2019-06-30
63426  0d5ef      bedroom 2019-06-30 22:20:29  2019-06-30
63427  0d5ef      bedroom 2019-06-30 22:26:53  2019-06-30
63428  0d5ef      bedroom 2019-06-30 23:08:27  2019-06-30

[19500 rows x 4 columns]
          id     location           date-time        date
63429  0efe8      hallway 2019-05-14 15:35:31  2019-05-14
63430  0efe8      kitchen 2019-05-14 15:35:51  2019-05-14
63431  0efe8      kitchen 2019-05-14 15:39:12  2019-05-14
63432  0efe8      hallway 2019-05-14 15:39:39  2019-05-14
63433  0efe8  fridge-door 2019-05-14 15:40:03  2019-05-14
...      ...          ...                 ...         ...
77791  0efe8      bedroom 2019-06-30 21:15:39  2019-06-30
77792  0efe8      bedroom 2019-06-30 21:20:06  2019-06-30
77793  0efe8      bedroom 2019-06-30 21:25:55  2019-06-30
77794  0efe8      bedroom 2019-06-30 21:28:00  2019-06-30
77795  0efe8      bedroom 2019-06-30 22:30:38  2019-06-30

[14367 rows x 4 columns]
          id     location           date-time        date
77796  0f352     bathroom 2019-06-25 13:12:10  2019-06-25
77797  0f352     bathroom 2019-06-25 13:16:32  2019-06-25
77798  0f352  fridge-door 2019-06-25 13:16:37  2019-06-25
77799  0f352    back-door 2019-06-25 13:16:42  2019-06-25
77800  0f352       lounge 2019-06-25 13:16:44  2019-06-25
...      ...          ...                 ...         ...
80259  0f352      bedroom 2019-06-30 23:32:03  2019-06-30
80260  0f352      bedroom 2019-06-30 23:37:42  2019-06-30
80261  0f352      hallway 2019-06-30 23:37:55  2019-06-30
80262  0f352     bathroom 2019-06-30 23:38:42  2019-06-30
80263  0f352       lounge 2019-06-30 23:39:05  2019-06-30

[2468 rows x 4 columns]
           id  location           date-time        date
80264   16f4b   hallway 2019-04-01 00:05:46  2019-04-01
80265   16f4b   hallway 2019-04-01 04:55:16  2019-04-01
80266   16f4b   bedroom 2019-04-01 05:10:33  2019-04-01
80267   16f4b   kitchen 2019-04-01 10:15:09  2019-04-01
80268   16f4b  bathroom 2019-04-01 10:15:53  2019-04-01
...       ...       ...                 ...         ...
113325  16f4b   kitchen 2019-06-30 23:27:28  2019-06-30
113326  16f4b  bathroom 2019-06-30 23:27:41  2019-06-30
113327  16f4b  bathroom 2019-06-30 23:45:26  2019-06-30
113328  16f4b  bathroom 2019-06-30 23:46:39  2019-06-30
113329  16f4b   hallway 2019-06-30 23:47:22  2019-06-30

[33066 rows x 4 columns]
           id     location           date-time        date
113330  1fbe4      kitchen 2019-04-24 12:30:47  2019-04-24
113331  1fbe4    back-door 2019-04-24 12:30:48  2019-04-24
113332  1fbe4       lounge 2019-04-24 12:30:51  2019-04-24
113333  1fbe4  fridge-door 2019-04-24 12:30:52  2019-04-24
113334  1fbe4   front-door 2019-04-24 12:30:52  2019-04-24
...       ...          ...                 ...         ...
143129  1fbe4      bedroom 2019-06-30 22:39:34  2019-06-30
143130  1fbe4      bedroom 2019-06-30 22:46:20  2019-06-30
143131  1fbe4      bedroom 2019-06-30 22:54:45  2019-06-30
143132  1fbe4      bedroom 2019-06-30 23:16:46  2019-06-30
143133  1fbe4      bedroom 2019-06-30 23:17:50  2019-06-30

[29804 rows x 4 columns]
           id     location           date-time        date
143134  201d8    back-door 2019-04-18 09:48:03  2019-04-18
143135  201d8  fridge-door 2019-04-18 09:48:04  2019-04-18
143136  201d8    back-door 2019-04-18 09:48:11  2019-04-18
143137  201d8   front-door 2019-04-18 09:48:41  2019-04-18
143138  201d8  fridge-door 2019-04-18 09:49:18  2019-04-18
...       ...          ...                 ...         ...
169545  201d8      bedroom 2019-06-30 22:04:11  2019-06-30
169546  201d8      kitchen 2019-06-30 22:04:29  2019-06-30
169547  201d8      hallway 2019-06-30 22:10:52  2019-06-30
169548  201d8      kitchen 2019-06-30 22:11:01  2019-06-30
169549  201d8      bedroom 2019-06-30 22:54:13  2019-06-30

[26416 rows x 4 columns]
           id    location           date-time        date
169550  28710     kitchen 2019-05-16 10:52:49  2019-05-16
169551  28710   back-door 2019-05-16 10:52:50  2019-05-16
169552  28710  front-door 2019-05-16 10:52:51  2019-05-16
169553  28710      lounge 2019-05-16 10:52:52  2019-05-16
169554  28710     hallway 2019-05-16 10:52:52  2019-05-16
...       ...         ...                 ...         ...
192608  28710     hallway 2019-06-30 23:53:46  2019-06-30
192609  28710     bedroom 2019-06-30 23:54:36  2019-06-30
192610  28710     bedroom 2019-06-30 23:56:13  2019-06-30
192611  28710    bathroom 2019-06-30 23:56:23  2019-06-30
192612  28710    bathroom 2019-06-30 23:59:32  2019-06-30

[23063 rows x 4 columns]
           id  location           date-time        date
192613  2b131   kitchen 2019-06-26 10:57:51  2019-06-26
192614  2b131    lounge 2019-06-26 10:58:44  2019-06-26
192615  2b131   bedroom 2019-06-26 10:59:36  2019-06-26
192616  2b131  bathroom 2019-06-26 11:00:20  2019-06-26
192617  2b131   hallway 2019-06-26 11:01:16  2019-06-26
...       ...       ...                 ...         ...
195409  2b131   bedroom 2019-06-30 22:53:27  2019-06-30
195410  2b131   bedroom 2019-06-30 22:55:11  2019-06-30
195411  2b131  bathroom 2019-06-30 23:14:56  2019-06-30
195412  2b131   bedroom 2019-06-30 23:49:00  2019-06-30
195413  2b131   bedroom 2019-06-30 23:50:34  2019-06-30

[2801 rows x 4 columns]
           id     location           date-time        date
195414  2f54b    back-door 2019-05-02 14:30:04  2019-05-02
195415  2f54b  fridge-door 2019-05-02 14:30:06  2019-05-02
195416  2f54b   front-door 2019-05-02 14:33:32  2019-05-02
195417  2f54b  fridge-door 2019-05-02 14:33:39  2019-05-02
195418  2f54b    back-door 2019-05-02 14:33:57  2019-05-02
...       ...          ...                 ...         ...
215885  2f54b      kitchen 2019-06-30 23:01:41  2019-06-30
215886  2f54b      bedroom 2019-06-30 23:02:01  2019-06-30
215887  2f54b      hallway 2019-06-30 23:02:46  2019-06-30
215888  2f54b      bedroom 2019-06-30 23:23:51  2019-06-30
215889  2f54b      bedroom 2019-06-30 23:25:01  2019-06-30

[20476 rows x 4 columns]
           id     location           date-time        date
215890  30a32    back-door 2019-04-26 13:47:33  2019-04-26
215891  30a32  fridge-door 2019-04-26 13:47:33  2019-04-26
215892  30a32  fridge-door 2019-04-26 13:52:05  2019-04-26
215893  30a32  fridge-door 2019-04-26 13:52:10  2019-04-26
215894  30a32  fridge-door 2019-04-26 13:52:40  2019-04-26
...       ...          ...                 ...         ...
236150  30a32      bedroom 2019-06-30 23:26:50  2019-06-30
236151  30a32      bedroom 2019-06-30 23:49:28  2019-06-30
236152  30a32      bedroom 2019-06-30 23:51:05  2019-06-30
236153  30a32     bathroom 2019-06-30 23:53:00  2019-06-30
236154  30a32     bathroom 2019-06-30 23:54:19  2019-06-30

[20265 rows x 4 columns]
           id     location           date-time        date
236155  385de      hallway 2019-06-10 11:34:48  2019-06-10
236157  385de   front-door 2019-06-10 11:34:49  2019-06-10
236156  385de    back-door 2019-06-10 11:34:49  2019-06-10
236158  385de      kitchen 2019-06-10 11:34:50  2019-06-10
236159  385de  fridge-door 2019-06-10 11:34:50  2019-06-10
...       ...          ...                 ...         ...
242670  385de       lounge 2019-06-30 23:03:16  2019-06-30
242671  385de    back-door 2019-06-30 23:05:31  2019-06-30
242672  385de      hallway 2019-06-30 23:05:42  2019-06-30
242673  385de      bedroom 2019-06-30 23:06:12  2019-06-30
242674  385de      bedroom 2019-06-30 23:13:10  2019-06-30

[6520 rows x 4 columns]
           id   location           date-time        date
242675  393cb    bedroom 2019-04-24 10:53:41  2019-04-24
242676  393cb  back-door 2019-04-24 10:53:42  2019-04-24
242677  393cb   bathroom 2019-04-24 10:53:43  2019-04-24
242679  393cb     lounge 2019-04-24 10:53:45  2019-04-24
242678  393cb    hallway 2019-04-24 10:53:45  2019-04-24
...       ...        ...                 ...         ...
263867  393cb    hallway 2019-06-30 21:08:43  2019-06-30
263868  393cb    kitchen 2019-06-30 21:09:23  2019-06-30
263869  393cb    hallway 2019-06-30 21:11:26  2019-06-30
263870  393cb    bedroom 2019-06-30 21:12:27  2019-06-30
263871  393cb    bedroom 2019-06-30 21:16:27  2019-06-30

[21197 rows x 4 columns]
           id     location           date-time        date
263872  3fb61    back-door 2019-04-18 11:42:03  2019-04-18
263873  3fb61  fridge-door 2019-04-18 11:42:04  2019-04-18
263874  3fb61       lounge 2019-04-18 11:50:57  2019-04-18
263875  3fb61     bathroom 2019-04-18 11:51:53  2019-04-18
263876  3fb61       lounge 2019-04-18 11:52:39  2019-04-18
...       ...          ...                 ...         ...
281838  3fb61    back-door 2019-06-28 15:11:27  2019-06-28
281839  3fb61    back-door 2019-06-28 15:11:33  2019-06-28
281840  3fb61    back-door 2019-06-28 15:11:41  2019-06-28
281841  3fb61    back-door 2019-06-28 15:11:52  2019-06-28
281842  3fb61    back-door 2019-06-28 15:12:11  2019-06-28

[17971 rows x 4 columns]
           id     location           date-time        date
281843  46286      hallway 2019-05-22 11:15:13  2019-05-22
281844  46286      kitchen 2019-05-22 11:16:43  2019-05-22
281845  46286      hallway 2019-05-22 11:16:59  2019-05-22
281846  46286  fridge-door 2019-05-22 11:17:17  2019-05-22
281847  46286   front-door 2019-05-22 11:17:17  2019-05-22
...       ...          ...                 ...         ...
292913  46286      hallway 2019-06-28 07:49:47  2019-06-28
292914  46286   front-door 2019-06-28 07:50:17  2019-06-28
292915  46286   front-door 2019-06-28 17:24:23  2019-06-28
292916  46286      hallway 2019-06-28 17:24:28  2019-06-28
292917  46286   front-door 2019-06-28 17:24:49  2019-06-28

[11075 rows x 4 columns]
           id     location           date-time        date
292918  55cd4     bathroom 2019-04-15 11:38:21  2019-04-15
292919  55cd4  fridge-door 2019-04-15 11:38:23  2019-04-15
292920  55cd4       lounge 2019-04-15 11:38:25  2019-04-15
292921  55cd4      kitchen 2019-04-15 11:38:28  2019-04-15
292922  55cd4   front-door 2019-04-15 11:38:29  2019-04-15
...       ...          ...                 ...         ...
311100  55cd4      hallway 2019-06-30 19:13:29  2019-06-30
311101  55cd4      bedroom 2019-06-30 19:13:48  2019-06-30
311102  55cd4      hallway 2019-06-30 19:14:59  2019-06-30
311103  55cd4      bedroom 2019-06-30 19:15:26  2019-06-30
311104  55cd4      bedroom 2019-06-30 21:13:53  2019-06-30

[18187 rows x 4 columns]
           id     location           date-time        date
311105  561af      bedroom 2019-05-30 11:16:15  2019-05-30
311106  561af     bathroom 2019-05-30 11:16:17  2019-05-30
311107  561af    back-door 2019-05-30 11:16:19  2019-05-30
311108  561af  fridge-door 2019-05-30 11:16:19  2019-05-30
311109  561af      kitchen 2019-05-30 11:16:26  2019-05-30
...       ...          ...                 ...         ...
316590  561af      hallway 2019-06-30 23:15:08  2019-06-30
316591  561af     bathroom 2019-06-30 23:15:52  2019-06-30
316592  561af      bedroom 2019-06-30 23:16:00  2019-06-30
316593  561af      bedroom 2019-06-30 23:17:09  2019-06-30
316594  561af      bedroom 2019-06-30 23:18:16  2019-06-30

[5490 rows x 4 columns]
           id     location           date-time        date
316595  56b6b    back-door 2019-05-02 11:28:25  2019-05-02
316596  56b6b  fridge-door 2019-05-02 11:28:26  2019-05-02
316597  56b6b  fridge-door 2019-05-02 11:30:13  2019-05-02
316598  56b6b    back-door 2019-05-02 11:31:46  2019-05-02
316599  56b6b   front-door 2019-05-02 11:32:11  2019-05-02
...       ...          ...                 ...         ...
335415  56b6b      bedroom 2019-06-30 23:37:37  2019-06-30
335416  56b6b      bedroom 2019-06-30 23:42:24  2019-06-30
335417  56b6b      bedroom 2019-06-30 23:47:30  2019-06-30
335418  56b6b      bedroom 2019-06-30 23:52:59  2019-06-30
335419  56b6b      bedroom 2019-06-30 23:56:36  2019-06-30

[18825 rows x 4 columns]
           id     location           date-time        date
335420  65db4      bedroom 2019-05-10 13:03:53  2019-05-10
335421  65db4      kitchen 2019-05-10 13:03:54  2019-05-10
335422  65db4    back-door 2019-05-10 13:03:57  2019-05-10
335423  65db4  fridge-door 2019-05-10 13:03:58  2019-05-10
335424  65db4       lounge 2019-05-10 13:04:02  2019-05-10
...       ...          ...                 ...         ...
349580  65db4      bedroom 2019-06-30 23:18:18  2019-06-30
349581  65db4      hallway 2019-06-30 23:18:34  2019-06-30
349582  65db4   front-door 2019-06-30 23:18:39  2019-06-30
349583  65db4   front-door 2019-06-30 23:18:43  2019-06-30
349584  65db4      bedroom 2019-06-30 23:21:07  2019-06-30

[14165 rows x 4 columns]
           id     location           date-time        date
349586  6b29b   front-door 2019-04-18 14:35:22  2019-04-18
349585  6b29b  fridge-door 2019-04-18 14:35:22  2019-04-18
349587  6b29b    back-door 2019-04-18 14:35:26  2019-04-18
349588  6b29b  fridge-door 2019-04-18 14:35:35  2019-04-18
349589  6b29b   front-door 2019-04-18 14:36:20  2019-04-18
...       ...          ...                 ...         ...
378523  6b29b      bedroom 2019-06-30 23:55:28  2019-06-30
378524  6b29b      hallway 2019-06-30 23:57:13  2019-06-30
378525  6b29b      bedroom 2019-06-30 23:57:31  2019-06-30
378526  6b29b     bathroom 2019-06-30 23:57:44  2019-06-30
378527  6b29b      bedroom 2019-06-30 23:59:25  2019-06-30

[28943 rows x 4 columns]
           id    location           date-time        date
378528  714d7     hallway 2019-04-29 14:48:46  2019-04-29
378529  714d7     bedroom 2019-04-29 14:48:47  2019-04-29
378530  714d7      lounge 2019-04-29 14:48:48  2019-04-29
378531  714d7   back-door 2019-04-29 14:48:48  2019-04-29
378532  714d7  front-door 2019-04-29 14:48:49  2019-04-29
...       ...         ...                 ...         ...
386956  714d7     kitchen 2019-06-07 12:53:52  2019-06-07
386957  714d7     kitchen 2019-06-07 12:56:20  2019-06-07
386958  714d7     hallway 2019-06-07 12:56:46  2019-06-07
386959  714d7  front-door 2019-06-07 12:56:59  2019-06-07
386960  714d7  front-door 2019-06-07 12:57:03  2019-06-07

[8433 rows x 4 columns]
           id     location           date-time        date
386961  73f7c  fridge-door 2019-05-13 13:41:01  2019-05-13
386962  73f7c       lounge 2019-05-13 13:41:02  2019-05-13
386963  73f7c    back-door 2019-05-13 13:41:03  2019-05-13
386964  73f7c      kitchen 2019-05-13 13:41:09  2019-05-13
386965  73f7c     bathroom 2019-05-13 13:41:20  2019-05-13
...       ...          ...                 ...         ...
421070  73f7c      hallway 2019-06-30 23:15:32  2019-06-30
421071  73f7c       lounge 2019-06-30 23:15:49  2019-06-30
421072  73f7c       lounge 2019-06-30 23:31:11  2019-06-30
421073  73f7c      hallway 2019-06-30 23:31:15  2019-06-30
421074  73f7c      kitchen 2019-06-30 23:31:27  2019-06-30

[34114 rows x 4 columns]
           id     location           date-time        date
421075  76230    back-door 2019-06-25 14:05:08  2019-06-25
421076  76230  fridge-door 2019-06-25 14:05:08  2019-06-25
421077  76230      hallway 2019-06-25 14:05:13  2019-06-25
421078  76230       lounge 2019-06-25 14:05:13  2019-06-25
421079  76230      kitchen 2019-06-25 14:05:24  2019-06-25
...       ...          ...                 ...         ...
422680  76230  fridge-door 2019-06-29 10:51:32  2019-06-29
422681  76230  fridge-door 2019-06-29 10:51:38  2019-06-29
422682  76230      hallway 2019-06-29 10:51:41  2019-06-29
422683  76230      kitchen 2019-06-29 10:52:11  2019-06-29
422684  76230   front-door 2019-06-29 10:53:54  2019-06-29

[1610 rows x 4 columns]
           id    location           date-time        date
422685  7db78   back-door 2019-04-23 10:16:12  2019-04-23
422686  7db78     kitchen 2019-04-23 10:16:13  2019-04-23
422687  7db78     bedroom 2019-04-23 10:16:14  2019-04-23
422688  7db78      lounge 2019-04-23 10:16:15  2019-04-23
422690  7db78  front-door 2019-04-23 10:16:16  2019-04-23
...       ...         ...                 ...         ...
455240  7db78     hallway 2019-06-30 23:46:02  2019-06-30
455241  7db78    bathroom 2019-06-30 23:46:12  2019-06-30
455242  7db78    bathroom 2019-06-30 23:49:08  2019-06-30
455243  7db78     hallway 2019-06-30 23:49:26  2019-06-30
455244  7db78     bedroom 2019-06-30 23:49:29  2019-06-30

[32560 rows x 4 columns]
           id     location           date-time        date
455245  8a835       lounge 2019-04-17 12:36:00  2019-04-17
455246  8a835   front-door 2019-04-17 12:36:01  2019-04-17
455247  8a835  fridge-door 2019-04-17 12:36:02  2019-04-17
455248  8a835    back-door 2019-04-17 12:36:04  2019-04-17
455249  8a835      hallway 2019-04-17 12:36:20  2019-04-17
...       ...          ...                 ...         ...
483470  8a835     bathroom 2019-06-30 23:02:59  2019-06-30
483471  8a835      bedroom 2019-06-30 23:03:20  2019-06-30
483472  8a835      bedroom 2019-06-30 23:05:21  2019-06-30
483473  8a835      bedroom 2019-06-30 23:07:14  2019-06-30
483474  8a835      bedroom 2019-06-30 23:16:54  2019-06-30

[28230 rows x 4 columns]
           id     location           date-time        date
483475  8d0d4    back-door 2019-04-23 12:55:46  2019-04-23
483476  8d0d4  fridge-door 2019-04-23 12:55:48  2019-04-23
483477  8d0d4      bedroom 2019-04-23 12:55:49  2019-04-23
483478  8d0d4     bathroom 2019-04-23 12:55:53  2019-04-23
483479  8d0d4      kitchen 2019-04-23 12:56:31  2019-04-23

In [55]:
print(data_activity.shape, daily.shape, daily_count.shape, daily_contextual.shape, daily_statistical.shape)
# print(daily_count.columns.values)
# print(daily_contextual.columns.values)
# print(daily_statistical.columns.values)
# print(daily.columns.values)
# daily_count.head()
# daily_contextual.head()
# daily_statistical.head()
# daily.head()
display(daily_count)
display(daily_contextual)
display(daily_statistical)
display(daily)
display(data_activity)

(10888, 51) (16, 51) (16, 11) (16, 11) (16, 35)

,id,date,6h,back-door,bathroom,bedroom,fridge-door,front-door,hallway,kitchen,lounge
0,fd100,2019-06-27,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,fd100,2019-06-27,06-12,2.0,4.0,5.0,21.0,10.0,7.0,24.0,13.0
2,fd100,2019-06-27,12-18,0.0,9.0,17.0,2.0,9.0,20.0,52.0,46.0
3,fd100,2019-06-27,18-24,0.0,11.0,26.0,0.0,6.0,20.0,24.0,38.0
4,fd100,2019-06-28,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,fd100,2019-06-28,06-12,0.0,22.0,41.0,0.0,16.0,31.0,52.0,45.0
6,fd100,2019-06-28,12-18,0.0,6.0,35.0,7.0,2.0,12.0,69.0,48.0
7,fd100,2019-06-28,18-24,0.0,4.0,15.0,0.0,3.0,15.0,24.0,27.0
8,fd100,2019-06-29,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,fd100,2019-06-29,06-12,0.0,10.0,21.0,7.0,3.0,13.0,32.0,16.0
10,fd100,2019-06-29,12-18,0.0,10.0,19.0,17.0,9.0,25.0,56.0,46.0
11,fd100,2019-06-29,18-24,0.0,13.0,16.0,3.0,3.0,23.0,22.0,34.0
12,fd100,2019-06-30,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,fd100,2019-06-30,06-12,0.0,13.0,34.0,5.0,8.0,17.0,38.0,31.0
14,fd100,2019-06-30,12-18,0.0,3.0,29.0,3.0,4.0,6.0,50.0,32.0
15,fd100,2019-06-30,18-24,0.0,11.0,23.0,0.0,8.0,20.0,32.0,47.0

,id,date,6h,total-events,unique-locations,active-location-ratio,private-to-public-ratio,location-entropy,location-dominance-ratio,back-and-forth-count,num-transitions
0,fd100,2019-06-27,00-06,0,0,0.000,1.0000,0.0000,0.0000,0,0
1,fd100,2019-06-27,06-12,86,8,1.000,0.2045,2.6488,0.2791,7,51
2,fd100,2019-06-27,12-18,155,7,0.875,0.2203,2.3375,0.3355,23,120
3,fd100,2019-06-27,18-24,125,6,0.750,0.4512,2.3924,0.3040,14,95
4,fd100,2019-06-28,00-06,0,0,0.000,1.0000,0.0000,0.0000,0,0
5,fd100,2019-06-28,06-12,207,6,0.750,0.4922,2.4814,0.2512,16,164
6,fd100,2019-06-28,12-18,179,7,0.875,0.3178,2.1806,0.3855,12,105
7,fd100,2019-06-28,18-24,88,6,0.750,0.2879,2.2733,0.3068,11,72
8,fd100,2019-06-29,00-06,0,0,0.000,1.0000,0.0000,0.0000,0,0
9,fd100,2019-06-29,06-12,102,7,0.875,0.5082,2.5355,0.3137,7,69
10,fd100,2019-06-29,12-18,182,7,0.875,0.2283,2.5224,0.3077,31,139
11,fd100,2019-06-29,18-24,114,7,0.875,0.3671,2.4755,0.2982,19,92
12,fd100,2019-06-30,00-06,0,0,0.000,1.0000,0.0000,0.0000,0,0
13,fd100,2019-06-30,06-12,146,7,0.875,0.5465,2.5379,0.2603,10,110
14,fd100,2019-06-30,12-18,127,7,0.875,0.3636,2.1376,0.3937,8,66
15,fd100,2019-06-30,18-24,141,6,0.750,0.3434,2.3622,0.3333,17,98

,id,date,6h,back-door-count-max,back-door-count-mean,back-door-count-std,back-door-count-sum,bathroom-count-max,bathroom-count-mean,bathroom-count-std,...,hallway-count-std,hallway-count-sum,kitchen-count-max,kitchen-count-mean,kitchen-count-std,kitchen-count-sum,lounge-count-max,lounge-count-mean,lounge-count-std,lounge-count-sum
0,fd100,2019-06-27,00-06,0,0.0000,0.0000,0,0,0.0000,0.0000,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
1,fd100,2019-06-27,06-12,2,0.1176,0.4851,2,3,0.2353,0.7524,...,1.1757,7,21,1.4118,5.0997,24,10,0.7647,2.4882,13
2,fd100,2019-06-27,12-18,0,0.0000,0.0000,0,4,0.5294,1.2307,...,2.6276,20,18,3.0588,5.9316,52,20,2.7059,5.6210,46
3,fd100,2019-06-27,18-24,0,0.0000,0.0000,0,5,0.6471,1.4116,...,2.2146,20,12,1.4118,3.1036,24,11,2.2353,4.0855,38
4,fd100,2019-06-28,00-06,0,0.0000,0.0000,0,0,0.0000,0.0000,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
5,fd100,2019-06-28,06-12,0,0.0000,0.0000,0,11,1.2941,3.0774,...,3.5042,31,20,3.0588,6.3391,52,15,2.6471,5.1471,45
6,fd100,2019-06-28,12-18,0,0.0000,0.0000,0,5,0.3529,1.2217,...,2.4178,12,28,4.0588,7.4370,69,13,2.8235,4.3335,48
7,fd100,2019-06-28,18-24,0,0.0000,0.0000,0,3,0.2353,0.7524,...,1.9963,15,13,1.4118,3.6922,24,12,1.5882,3.8089,27
8,fd100,2019-06-29,00-06,0,0.0000,0.0000,0,0,0.0000,0.0000,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
9,fd100,2019-06-29,06-12,0,0.0000,0.0000,0,7,0.5882,1.8048,...,2.3326,13,18,1.8824,4.8203,32,8,0.9412,2.1057,16
10,fd100,2019-06-29,12-18,0,0.0000,0.0000,0,4,0.5882,1.2277,...,2.6720,25,17,3.2941,5.7962,56,13,2.7059,4.4828,46
11,fd100,2019-06-29,18-24,0,0.0000,0.0000,0,9,0.7647,2.1946,...,2.9988,23,10,1.2941,2.7560,22,12,2.0000,3.7583,34
12,fd100,2019-06-30,00-06,0,0.0000,0.0000,0,0,0.0000,0.0000,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
13,fd100,2019-06-30,06-12,0,0.0000,0.0000,0,6,0.7647,1.7864,...,2.3717,17,13,2.2353,4.4092,38,10,1.8235,3.4683,31
14,fd100,2019-06-30,12-18,0,0.0000,0.0000,0,3,0.1765,0.7276,...,1.0572,6,16,2.9412,5.2852,50,9,1.8824,2.9766,32
15,fd100,2019-06-30,18-24,0,0.0000,0.0000,0,6,0.6471,1.5788,...,2.1862,20,9,1.8824,2.9130,32,12,2.7647,4.1311,47

,id,date,6h,back-door,bathroom,bedroom,fridge-door,front-door,hallway,kitchen,...,hallway-count-std,hallway-count-sum,kitchen-count-max,kitchen-count-mean,kitchen-count-std,kitchen-count-sum,lounge-count-max,lounge-count-mean,lounge-count-std,lounge-count-sum
0,fd100,2019-06-27,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
1,fd100,2019-06-27,06-12,2.0,4.0,5.0,21.0,10.0,7.0,24.0,...,1.1757,7,21,1.4118,5.0997,24,10,0.7647,2.4882,13
2,fd100,2019-06-27,12-18,0.0,9.0,17.0,2.0,9.0,20.0,52.0,...,2.6276,20,18,3.0588,5.9316,52,20,2.7059,5.6210,46
3,fd100,2019-06-27,18-24,0.0,11.0,26.0,0.0,6.0,20.0,24.0,...,2.2146,20,12,1.4118,3.1036,24,11,2.2353,4.0855,38
4,fd100,2019-06-28,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
5,fd100,2019-06-28,06-12,0.0,22.0,41.0,0.0,16.0,31.0,52.0,...,3.5042,31,20,3.0588,6.3391,52,15,2.6471,5.1471,45
6,fd100,2019-06-28,12-18,0.0,6.0,35.0,7.0,2.0,12.0,69.0,...,2.4178,12,28,4.0588,7.4370,69,13,2.8235,4.3335,48
7,fd100,2019-06-28,18-24,0.0,4.0,15.0,0.0,3.0,15.0,24.0,...,1.9963,15,13,1.4118,3.6922,24,12,1.5882,3.8089,27
8,fd100,2019-06-29,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
9,fd100,2019-06-29,06-12,0.0,10.0,21.0,7.0,3.0,13.0,32.0,...,2.3326,13,18,1.8824,4.8203,32,8,0.9412,2.1057,16
10,fd100,2019-06-29,12-18,0.0,10.0,19.0,17.0,9.0,25.0,56.0,...,2.6720,25,17,3.2941,5.7962,56,13,2.7059,4.4828,46
11,fd100,2019-06-29,18-24,0.0,13.0,16.0,3.0,3.0,23.0,22.0,...,2.9988,23,10,1.2941,2.7560,22,12,2.0000,3.7583,34
12,fd100,2019-06-30,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
13,fd100,2019-06-30,06-12,0.0,13.0,34.0,5.0,8.0,17.0,38.0,...,2.3717,17,13,2.2353,4.4092,38,10,1.8235,3.4683,31
14,fd100,2019-06-30,12-18,0.0,3.0,29.0,3.0,4.0,6.0,50.0,...,1.0572,6,16,2.9412,5.2852,50,9,1.8824,2.9766,32
15,fd100,2019-06-30,18-24,0.0,11.0,23.0,0.0,8.0,20.0,32.0,...,2.1862,20,9,1.8824,2.9130,32,12,2.7647,4.1311,47

,id,date,6h,back-door,bathroom,bedroom,fridge-door,front-door,hallway,kitchen,...,hallway-count-std,hallway-count-sum,kitchen-count-max,kitchen-count-mean,kitchen-count-std,kitchen-count-sum,lounge-count-max,lounge-count-mean,lounge-count-std,lounge-count-sum
0,0697d,2019-06-28,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
1,0697d,2019-06-28,06-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
2,0697d,2019-06-28,12-18,12.0,5.0,18.0,23.0,27.0,30.0,57.0,...,3.1705,30,20,2.5909,5.4394,57,16,2.2273,4.6999,49
3,0697d,2019-06-28,18-24,2.0,2.0,6.0,0.0,1.0,10.0,49.0,...,1.3355,10,18,2.2273,4.8495,49,16,1.4091,3.8130,31
4,0697d,2019-06-29,00-06,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10883,fd100,2019-06-29,18-24,0.0,13.0,16.0,3.0,3.0,23.0,22.0,...,2.9988,23,10,1.2941,2.7560,22,12,2.0000,3.7583,34
10884,fd100,2019-06-30,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0000,0,0,0.0000,0.0000,0,0,0.0000,0.0000,0
10885,fd100,2019-06-30,06-12,0.0,13.0,34.0,5.0,8.0,17.0,38.0,...,2.3717,17,13,2.2353,4.4092,38,10,1.8235,3.4683,31
10886,fd100,2019-06-30,12-18,0.0,3.0,29.0,3.0,4.0,6.0,50.0,...,1.0572,6,16,2.9412,5.2852,50,9,1.8824,2.9766,32
10887,fd100,2019-06-30,18-24,0.0,11.0,23.0,0.0,8.0,20.0,32.0,...,2.1862,20,9,1.8824,2.9130,32,12,2.7647,4.1311,47

In [ ]:
# Physiology

import utils_data
importlib.reload(utils_data)

from utils_data import extract_6h_physiology

data_physiology = []

for idx, (id, group) in enumerate(physiology.sort_values('id').groupby('id')):

    group['date-time'] = pd.to_datetime(group['date-time'])
    group = group.sort_values('date-time')
    group['date'] = group['date-time'].dt.date


    daily_physiology = extract_6h_physiology(group)


    data_physiology.append(daily_physiology)


data_physiology = pd.concat(data_physiology, ignore_index=True)
data_physiology.to_csv(os.path.join(destination, 'data-06h-physiology' + '.csv'), index=False)

,id,date-time,type,value,unit,date
0,0697d,2019-06-28 13:42:09,body-temperature,36.072,Cel,2019-06-28
1,0697d,2019-06-28 13:42:44,body-temperature,35.831,Cel,2019-06-28
2,0697d,2019-06-28 13:43:40,body-temperature,35.831,Cel,2019-06-28
4,0697d,2019-06-28 13:45:15,diastolic-blood-pressure,82.000,mm[Hg],2019-06-28
5,0697d,2019-06-28 13:45:15,heart-rate,42.000,beats/min,2019-06-28
3,0697d,2019-06-28 13:45:15,systolic-blood-pressure,165.000,mm[Hg],2019-06-28
6,0697d,2019-06-28 14:25:07,body-temperature,36.599,Cel,2019-06-28
7,0697d,2019-06-28 14:25:37,body-temperature,36.599,Cel,2019-06-28
10,0697d,2019-06-28 14:40:13,total-body-water,50.600,%,2019-06-28
8,0697d,2019-06-28 14:40:13,body-weight,86.300,kg,2019-06-28
9,0697d,2019-06-28 14:40:13,muscle-mass,64.500,kg,2019-06-28
11,0697d,2019-06-29 17:28:50,body-temperature,37.257,Cel,2019-06-29
12,0697d,2019-06-29 17:29:20,body-temperature,37.257,Cel,2019-06-29
13,0697d,2019-06-29 17:31:27,body-temperature,37.043,Cel,2019-06-29
14,0697d,2019-06-29 17:31:43,body-temperature,36.080,Cel,2019-06-29
15,0697d,2019-06-29 17:32:03,body-temperature,36.926,Cel,2019-06-29
16,0697d,2019-06-29 17:32:28,body-temperature,36.926,Cel,2019-06-29
19,0697d,2019-06-29 17:35:04,heart-rate,62.000,beats/min,2019-06-29
17,0697d,2019-06-29 17:35:04,systolic-blood-pressure,168.000,mm[Hg],2019-06-29
18,0697d,2019-06-29 17:35:04,diastolic-blood-pressure,80.000,mm[Hg],2019-06-29
21,0697d,2019-06-29 17:37:13,diastolic-blood-pressure,77.000,mm[Hg],2019-06-29
22,0697d,2019-06-29 17:37:13,heart-rate,58.000,beats/min,2019-06-29
20,0697d,2019-06-29 17:37:13,systolic-blood-pressure,146.000,mm[Hg],2019-06-29
23,0697d,2019-06-29 17:49:07,muscle-mass,64.600,kg,2019-06-29
24,0697d,2019-06-29 17:49:07,body-weight,86.100,kg,2019-06-29
25,0697d,2019-06-29 17:49:07,total-body-water,51.200,%,2019-06-29
26,0697d,2019-06-30 15:04:45,systolic-blood-pressure,158.000,mm[Hg],2019-06-30
28,0697d,2019-06-30 15:04:45,heart-rate,55.000,beats/min,2019-06-30
27,0697d,2019-06-30 15:04:45,diastolic-blood-pressure,83.000,mm[Hg],2019-06-30
29,0697d,2019-06-30 15:04:46,systolic-blood-pressure,146.000,mm[Hg],2019-06-30
30,0697d,2019-06-30 15:04:46,diastolic-blood-pressure,78.000,mm[Hg],2019-06-30
31,0697d,2019-06-30 15:04:46,heart-rate,50.000,beats/min,2019-06-30
32,0697d,2019-06-30 15:05:24,body-temperature,36.779,Cel,2019-06-30
33,0697d,2019-06-30 15:05:43,body-temperature,35.125,Cel,2019-06-30
34,0697d,2019-06-30 15:06:12,body-temperature,35.816,Cel,2019-06-30
35,0697d,2019-06-30 15:06:19,body-temperature,35.267,Cel,2019-06-30
36,0697d,2019-06-30 15:06:35,body-temperature,36.779,Cel,2019-06-30

,id,date-time,type,value,unit,date
37,099bc,2019-05-15 11:53:13,body-weight,53.300,kg,2019-05-15
38,099bc,2019-05-15 11:53:13,total-body-water,54.000,%,2019-05-15
39,099bc,2019-05-15 11:53:13,muscle-mass,39.800,kg,2019-05-15
40,099bc,2019-05-15 12:11:16,body-temperature,36.499,Cel,2019-05-15
41,099bc,2019-05-15 12:11:35,body-temperature,36.464,Cel,2019-05-15
...,...,...,...,...,...,...
490,099bc,2019-06-30 08:36:27,body-temperature,37.314,Cel,2019-06-30
491,099bc,2019-06-30 08:36:48,body-temperature,37.314,Cel,2019-06-30
493,099bc,2019-06-30 15:39:36,diastolic-blood-pressure,76.000,mm[Hg],2019-06-30
492,099bc,2019-06-30 15:39:36,systolic-blood-pressure,123.000,mm[Hg],2019-06-30
494,099bc,2019-06-30 15:39:36,heart-rate,75.000,beats/min,2019-06-30

        id           date-time        type  value       unit        date
495  0cda9 2019-04-15 13:22:50  heart-rate   75.0  beats/min  2019-04-15

,id,date-time,type,value,unit,date
496,0d5ef,2019-05-13 10:13:45,body-temperature,36.759,Cel,2019-05-13
497,0d5ef,2019-05-13 10:14:43,body-temperature,36.338,Cel,2019-05-13
498,0d5ef,2019-05-13 10:15:21,body-temperature,36.338,Cel,2019-05-13
499,0d5ef,2019-05-13 10:15:31,body-temperature,36.226,Cel,2019-05-13
500,0d5ef,2019-05-13 10:15:56,body-temperature,36.226,Cel,2019-05-13
...,...,...,...,...,...,...
773,0d5ef,2019-06-30 15:37:38,body-temperature,36.343,Cel,2019-06-30
774,0d5ef,2019-06-30 15:37:58,body-temperature,36.343,Cel,2019-06-30
775,0d5ef,2019-06-30 15:39:07,systolic-blood-pressure,139.000,mm[Hg],2019-06-30
776,0d5ef,2019-06-30 15:39:07,diastolic-blood-pressure,78.000,mm[Hg],2019-06-30
777,0d5ef,2019-06-30 15:39:07,heart-rate,83.000,beats/min,2019-06-30

,id,date-time,type,value,unit,date
778,0efe8,2019-05-14 14:38:48,body-temperature,36.978,Cel,2019-05-14
779,0efe8,2019-05-14 14:39:19,body-temperature,36.565,Cel,2019-05-14
780,0efe8,2019-05-14 14:40:06,body-temperature,36.565,Cel,2019-05-14
781,0efe8,2019-05-14 14:42:36,systolic-blood-pressure,123.000,mm[Hg],2019-05-14
782,0efe8,2019-05-14 14:42:36,diastolic-blood-pressure,103.000,mm[Hg],2019-05-14
...,...,...,...,...,...,...
1150,0efe8,2019-06-30 08:39:54,systolic-blood-pressure,143.000,mm[Hg],2019-06-30
1151,0efe8,2019-06-30 08:39:54,diastolic-blood-pressure,71.000,mm[Hg],2019-06-30
1152,0efe8,2019-06-30 08:39:54,heart-rate,64.000,beats/min,2019-06-30
1153,0efe8,2019-06-30 08:40:50,body-temperature,36.987,Cel,2019-06-30
1154,0efe8,2019-06-30 08:41:16,body-temperature,36.987,Cel,2019-06-30

,id,date-time,type,value,unit,date
1155,0f352,2019-06-25 10:53:18,body-temperature,36.700,Cel,2019-06-25
1156,0f352,2019-06-25 10:53:35,body-temperature,36.705,Cel,2019-06-25
1157,0f352,2019-06-25 10:54:34,body-temperature,36.705,Cel,2019-06-25
1158,0f352,2019-06-25 11:53:45,body-weight,72.400,kg,2019-06-25
1159,0f352,2019-06-25 12:07:11,systolic-blood-pressure,123.000,mm[Hg],2019-06-25
...,...,...,...,...,...,...
1212,0f352,2019-06-30 20:46:25,body-temperature,36.492,Cel,2019-06-30
1213,0f352,2019-06-30 20:46:45,body-temperature,36.492,Cel,2019-06-30
1214,0f352,2019-06-30 20:49:56,systolic-blood-pressure,138.000,mm[Hg],2019-06-30
1215,0f352,2019-06-30 20:49:56,diastolic-blood-pressure,75.000,mm[Hg],2019-06-30
1216,0f352,2019-06-30 20:49:56,heart-rate,68.000,beats/min,2019-06-30

         id           date-time              type   value unit        date
1217  16f4b 2019-04-02 14:35:35  body-temperature  37.351  Cel  2019-04-02
1218  16f4b 2019-04-02 14:35:35  skin-temperature  35.844  Cel  2019-04-02
1219  16f4b 2019-04-02 15:35:35  body-temperature  37.351  Cel  2019-04-02
1220  16f4b 2019-04-02 15:36:01  body-temperature  37.351  Cel  2019-04-02
1221  16f4b 2019-04-03 21:49:20  body-temperature  36.696  Cel  2019-04-03
...     ...                 ...               ...     ...  ...         ...
1339  16f4b 2019-06-25 07:48:07  body-temperature  36.491  Cel  2019-06-25
1341  16f4b 2019-06-25 07:48:27  body-temperature  36.991  Cel  2019-06-25
1342  16f4b 2019-06-25 08:48:07  body-temperature  36.491  Cel  2019-06-25
1343  16f4b 2019-06-25 08:48:27  body-temperature  36.991  Cel  2019-06-25
1344  16f4b 2019-06-25 08:48:52  body-temperature  36.491  Cel  2019-06-25

[128 rows x 6 columns]

,id,date-time,type,value,unit,date
1345,1fbe4,2019-04-24 11:27:05,body-temperature,36.668,Cel,2019-04-24
1346,1fbe4,2019-04-24 11:27:05,skin-temperature,34.352,Cel,2019-04-24
1347,1fbe4,2019-04-24 12:07:04,body-temperature,35.727,Cel,2019-04-24
1348,1fbe4,2019-04-24 12:07:04,skin-temperature,33.198,Cel,2019-04-24
1349,1fbe4,2019-04-24 12:07:54,body-temperature,35.686,Cel,2019-04-24
...,...,...,...,...,...,...
1949,1fbe4,2019-06-30 09:29:05,body-temperature,36.079,Cel,2019-06-30
1950,1fbe4,2019-06-30 09:29:25,body-temperature,36.079,Cel,2019-06-30
1952,1fbe4,2019-06-30 10:10:39,diastolic-blood-pressure,74.000,mm[Hg],2019-06-30
1951,1fbe4,2019-06-30 10:10:39,systolic-blood-pressure,139.000,mm[Hg],2019-06-30
1953,1fbe4,2019-06-30 10:10:39,heart-rate,50.000,beats/min,2019-06-30

,id,date-time,type,value,unit,date
1954,201d8,2019-04-18 09:54:44,body-temperature,36.537,Cel,2019-04-18
1955,201d8,2019-04-18 09:55:37,body-temperature,36.537,Cel,2019-04-18
1956,201d8,2019-04-18 10:30:50,body-temperature,35.470,Cel,2019-04-18
1957,201d8,2019-04-18 10:30:57,body-temperature,36.684,Cel,2019-04-18
1958,201d8,2019-04-18 10:31:41,body-temperature,36.317,Cel,2019-04-18
...,...,...,...,...,...,...
2516,201d8,2019-06-30 09:35:27,heart-rate,85.000,beats/min,2019-06-30
2515,201d8,2019-06-30 09:35:27,diastolic-blood-pressure,58.000,mm[Hg],2019-06-30
2517,201d8,2019-06-30 09:35:46,systolic-blood-pressure,112.000,mm[Hg],2019-06-30
2518,201d8,2019-06-30 09:35:46,diastolic-blood-pressure,60.000,mm[Hg],2019-06-30
2519,201d8,2019-06-30 09:35:46,heart-rate,91.000,beats/min,2019-06-30

,id,date-time,type,value,unit,date
2520,28710,2019-05-16 11:14:18,systolic-blood-pressure,134.000,mm[Hg],2019-05-16
2521,28710,2019-05-16 11:14:18,diastolic-blood-pressure,90.000,mm[Hg],2019-05-16
2522,28710,2019-05-16 11:14:18,heart-rate,124.000,beats/min,2019-05-16
2523,28710,2019-05-16 11:16:54,body-temperature,36.493,Cel,2019-05-16
2524,28710,2019-05-16 11:20:18,muscle-mass,57.100,kg,2019-05-16
...,...,...,...,...,...,...
2786,28710,2019-06-29 21:17:45,body-temperature,36.502,Cel,2019-06-29
2788,28710,2019-06-30 21:56:49,diastolic-blood-pressure,86.000,mm[Hg],2019-06-30
2787,28710,2019-06-30 21:56:49,systolic-blood-pressure,135.000,mm[Hg],2019-06-30
2789,28710,2019-06-30 21:56:49,heart-rate,132.000,beats/min,2019-06-30
2790,28710,2019-06-30 21:58:31,body-temperature,34.832,Cel,2019-06-30

,id,date-time,type,value,unit,date
2791,2b131,2019-06-26 10:38:15,body-temperature,36.738,Cel,2019-06-26
2793,2b131,2019-06-26 10:42:55,muscle-mass,45.900,kg,2019-06-26
2792,2b131,2019-06-26 10:42:55,total-body-water,50.600,%,2019-06-26
2794,2b131,2019-06-26 10:42:55,body-weight,66.900,kg,2019-06-26
2797,2b131,2019-06-26 10:47:27,heart-rate,61.000,beats/min,2019-06-26
2795,2b131,2019-06-26 10:47:27,systolic-blood-pressure,150.000,mm[Hg],2019-06-26
2796,2b131,2019-06-26 10:47:27,diastolic-blood-pressure,86.000,mm[Hg],2019-06-26
2798,2b131,2019-06-26 10:50:36,body-temperature,35.968,Cel,2019-06-26

,id,date-time,type,value,unit,date
2801,2f54b,2019-05-02 15:13:39,heart-rate,65.000,beats/min,2019-05-02
2800,2f54b,2019-05-02 15:13:39,diastolic-blood-pressure,79.000,mm[Hg],2019-05-02
2799,2f54b,2019-05-02 15:13:39,systolic-blood-pressure,139.000,mm[Hg],2019-05-02
2802,2f54b,2019-05-02 15:15:18,body-temperature,35.623,Cel,2019-05-02
2803,2f54b,2019-05-02 15:15:45,body-temperature,36.130,Cel,2019-05-02
...,...,...,...,...,...,...
3215,2f54b,2019-06-30 17:19:25,body-temperature,36.941,Cel,2019-06-30
3216,2f54b,2019-06-30 17:19:57,body-temperature,36.941,Cel,2019-06-30
3218,2f54b,2019-06-30 17:20:57,muscle-mass,44.400,kg,2019-06-30
3217,2f54b,2019-06-30 17:20:57,body-weight,56.300,kg,2019-06-30
3219,2f54b,2019-06-30 17:20:57,total-body-water,61.300,%,2019-06-30

,id,date-time,type,value,unit,date
3220,30a32,2019-04-26 13:47:49,body-temperature,35.063,Cel,2019-04-26
3221,30a32,2019-04-26 13:48:25,body-temperature,35.063,Cel,2019-04-26
3222,30a32,2019-04-26 14:18:16,body-temperature,37.050,Cel,2019-04-26
3223,30a32,2019-04-26 14:18:39,body-temperature,36.338,Cel,2019-04-26
3224,30a32,2019-04-26 14:19:45,body-weight,62.400,kg,2019-04-26
...,...,...,...,...,...,...
3923,30a32,2019-06-29 10:19:15,diastolic-blood-pressure,82.000,mm[Hg],2019-06-29
3924,30a32,2019-06-29 10:19:15,heart-rate,70.000,beats/min,2019-06-29
3925,30a32,2019-06-29 11:29:51,body-weight,64.900,kg,2019-06-29
3926,30a32,2019-06-29 11:29:51,muscle-mass,48.700,kg,2019-06-29
3927,30a32,2019-06-29 11:29:51,total-body-water,54.100,%,2019-06-29

,id,date-time,type,value,unit,date
3928,385de,2019-06-10 12:23:41,body-temperature,35.798,Cel,2019-06-10
3929,385de,2019-06-10 12:24:02,body-temperature,37.482,Cel,2019-06-10
3930,385de,2019-06-10 12:24:32,body-temperature,37.217,Cel,2019-06-10
3931,385de,2019-06-10 12:25:15,body-temperature,37.217,Cel,2019-06-10
3932,385de,2019-06-10 12:27:36,systolic-blood-pressure,167.000,mm[Hg],2019-06-10
...,...,...,...,...,...,...
4061,385de,2019-06-30 09:29:15,diastolic-blood-pressure,72.000,mm[Hg],2019-06-30
4062,385de,2019-06-30 09:29:15,heart-rate,55.000,beats/min,2019-06-30
4063,385de,2019-06-30 09:30:09,body-weight,49.000,kg,2019-06-30
4064,385de,2019-06-30 09:30:09,muscle-mass,37.900,kg,2019-06-30
4065,385de,2019-06-30 09:30:09,total-body-water,55.800,%,2019-06-30

,id,date-time,type,value,unit,date
4066,393cb,2019-04-24 10:50:29,body-temperature,36.516,Cel,2019-04-24
4067,393cb,2019-04-24 10:51:04,body-temperature,36.516,Cel,2019-04-24
4068,393cb,2019-04-24 11:17:00,total-body-water,48.900,%,2019-04-24
4069,393cb,2019-04-24 11:17:00,body-weight,82.300,kg,2019-04-24
4070,393cb,2019-04-24 11:17:00,muscle-mass,55.600,kg,2019-04-24
...,...,...,...,...,...,...
4882,393cb,2019-06-30 14:31:39,diastolic-blood-pressure,72.000,mm[Hg],2019-06-30
4881,393cb,2019-06-30 14:31:39,systolic-blood-pressure,131.000,mm[Hg],2019-06-30
4885,393cb,2019-06-30 14:31:41,diastolic-blood-pressure,74.000,mm[Hg],2019-06-30
4884,393cb,2019-06-30 14:31:41,systolic-blood-pressure,132.000,mm[Hg],2019-06-30
4886,393cb,2019-06-30 14:31:41,heart-rate,89.000,beats/min,2019-06-30

,id,date-time,type,value,unit,date
4887,3fb61,2019-04-18 12:18:40,body-temperature,36.24,Cel,2019-04-18
4888,3fb61,2019-04-18 12:19:36,body-temperature,36.24,Cel,2019-04-18
4889,3fb61,2019-04-18 12:47:01,body-weight,75.10,kg,2019-04-18
4890,3fb61,2019-04-18 12:47:01,muscle-mass,53.90,kg,2019-04-18
4891,3fb61,2019-04-18 12:47:01,total-body-water,51.30,%,2019-04-18
...,...,...,...,...,...,...
5205,3fb61,2019-06-10 12:44:49,body-temperature,36.61,Cel,2019-06-10
5206,3fb61,2019-06-10 12:45:14,body-temperature,36.61,Cel,2019-06-10
5208,3fb61,2019-06-10 13:26:41,diastolic-blood-pressure,96.00,mm[Hg],2019-06-10
5207,3fb61,2019-06-10 13:26:41,systolic-blood-pressure,154.00,mm[Hg],2019-06-10
5209,3fb61,2019-06-10 13:26:41,heart-rate,90.00,beats/min,2019-06-10

,id,date-time,type,value,unit,date
5212,46286,2019-05-22 10:49:21,heart-rate,64.000,beats/min,2019-05-22
5210,46286,2019-05-22 10:49:21,systolic-blood-pressure,93.000,mm[Hg],2019-05-22
5211,46286,2019-05-22 10:49:21,diastolic-blood-pressure,52.000,mm[Hg],2019-05-22
5213,46286,2019-05-22 10:50:55,body-temperature,36.504,Cel,2019-05-22
5214,46286,2019-05-22 10:51:37,body-temperature,35.936,Cel,2019-05-22
...,...,...,...,...,...,...
5474,46286,2019-06-21 09:13:54,systolic-blood-pressure,84.000,mm[Hg],2019-06-21
5475,46286,2019-06-21 09:13:54,diastolic-blood-pressure,47.000,mm[Hg],2019-06-21
5476,46286,2019-06-21 09:13:54,heart-rate,71.000,beats/min,2019-06-21
5477,46286,2019-06-21 09:15:38,body-temperature,36.398,Cel,2019-06-21
5478,46286,2019-06-21 09:16:05,body-temperature,36.398,Cel,2019-06-21

         id           date-time              type   value unit        date
5479  55cd4 2019-04-15 10:39:57  body-temperature  37.172  Cel  2019-04-15
5481  55cd4 2019-04-15 10:40:15  skin-temperature  35.495  Cel  2019-04-15
5480  55cd4 2019-04-15 10:40:15  body-temperature  37.133  Cel  2019-04-15
5483  55cd4 2019-04-15 10:40:37  skin-temperature  35.406  Cel  2019-04-15
5482  55cd4 2019-04-15 10:40:37  body-temperature  37.074  Cel  2019-04-15
...     ...                 ...               ...     ...  ...         ...
6110  55cd4 2019-06-29 07:42:03  skin-temperature  34.594  Cel  2019-06-29
6109  55cd4 2019-06-29 07:42:03  body-temperature  36.589  Cel  2019-06-29
6111  55cd4 2019-06-29 08:42:03  body-temperature  36.589  Cel  2019-06-29
6112  55cd4 2019-06-29 08:42:22  body-temperature  36.589  Cel  2019-06-29
6113  55cd4 2019-06-29 08:43:14       body-weight  68.500   kg  2019-06-29

[635 rows x 6 columns]

,id,date-time,type,value,unit,date
6114,561af,2019-05-30 12:05:32,body-temperature,36.603,Cel,2019-05-30
6115,561af,2019-05-30 12:06:28,body-temperature,35.896,Cel,2019-05-30
6116,561af,2019-05-30 12:07:13,body-temperature,36.603,Cel,2019-05-30
6117,561af,2019-05-30 12:07:14,body-temperature,35.896,Cel,2019-05-30
6119,561af,2019-05-30 12:08:53,diastolic-blood-pressure,44.000,mm[Hg],2019-05-30
...,...,...,...,...,...,...
6208,561af,2019-06-29 17:41:38,body-weight,93.800,kg,2019-06-29
6209,561af,2019-06-30 15:32:00,body-weight,92.000,kg,2019-06-30
6212,561af,2019-06-30 15:36:33,heart-rate,83.000,beats/min,2019-06-30
6211,561af,2019-06-30 15:36:33,diastolic-blood-pressure,65.000,mm[Hg],2019-06-30
6210,561af,2019-06-30 15:36:33,systolic-blood-pressure,119.000,mm[Hg],2019-06-30

,id,date-time,type,value,unit,date
6213,56b6b,2019-05-02 12:16:49,body-temperature,36.409,Cel,2019-05-02
6216,56b6b,2019-05-02 12:21:17,heart-rate,63.000,beats/min,2019-05-02
6215,56b6b,2019-05-02 12:21:17,diastolic-blood-pressure,76.000,mm[Hg],2019-05-02
6214,56b6b,2019-05-02 12:21:17,systolic-blood-pressure,129.000,mm[Hg],2019-05-02
6217,56b6b,2019-05-02 12:33:42,body-weight,55.500,kg,2019-05-02
...,...,...,...,...,...,...
6490,56b6b,2019-06-30 23:47:22,muscle-mass,45.600,kg,2019-06-30
6493,56b6b,2019-06-30 23:48:02,body-temperature,35.997,Cel,2019-06-30
6494,56b6b,2019-06-30 23:50:21,systolic-blood-pressure,132.000,mm[Hg],2019-06-30
6495,56b6b,2019-06-30 23:50:21,diastolic-blood-pressure,69.000,mm[Hg],2019-06-30
6496,56b6b,2019-06-30 23:50:21,heart-rate,62.000,beats/min,2019-06-30

         id           date-time              type   value unit        date
6498  65db4 2019-05-10 13:38:51  total-body-water  42.900    %  2019-05-10
6499  65db4 2019-05-10 13:38:51       muscle-mass  37.300   kg  2019-05-10
6497  65db4 2019-05-10 13:38:51       body-weight  65.000   kg  2019-05-10
6500  65db4 2019-05-10 13:41:01  body-temperature  37.070  Cel  2019-05-10
6501  65db4 2019-05-10 13:41:48  body-temperature  36.704  Cel  2019-05-10
...     ...                 ...               ...     ...  ...         ...
6748  65db4 2019-06-29 11:44:23  body-temperature  36.932  Cel  2019-06-29
6749  65db4 2019-06-29 11:44:36  body-temperature  35.587  Cel  2019-06-29
6750  65db4 2019-06-29 11:44:45  body-temperature  35.617  Cel  2019-06-29
6751  65db4 2019-06-29 11:45:04  body-temperature  35.617  Cel  2019-06-29
6752  65db4 2019-06-29 11:46:27       body-weight  64.300   kg  2019-06-29

[256 rows x 6 columns]

,id,date-time,type,value,unit,date
6753,6b29b,2019-04-18 13:21:34,body-temperature,37.049,Cel,2019-04-18
6755,6b29b,2019-04-18 13:21:58,skin-temperature,34.661,Cel,2019-04-18
6754,6b29b,2019-04-18 13:21:58,body-temperature,36.869,Cel,2019-04-18
6757,6b29b,2019-04-18 13:49:19,skin-temperature,34.520,Cel,2019-04-18
6756,6b29b,2019-04-18 13:49:19,body-temperature,36.534,Cel,2019-04-18
...,...,...,...,...,...,...
7668,6b29b,2019-06-30 10:40:31,heart-rate,60.000,beats/min,2019-06-30
7667,6b29b,2019-06-30 10:40:31,diastolic-blood-pressure,79.000,mm[Hg],2019-06-30
7666,6b29b,2019-06-30 10:40:31,systolic-blood-pressure,147.000,mm[Hg],2019-06-30
7669,6b29b,2019-06-30 10:41:53,body-temperature,36.270,Cel,2019-06-30
7670,6b29b,2019-06-30 10:42:14,body-temperature,36.270,Cel,2019-06-30

,id,date-time,type,value,unit,date
7671,714d7,2019-04-29 15:00:33,body-temperature,36.222,Cel,2019-04-29
7672,714d7,2019-04-29 15:01:16,body-temperature,35.527,Cel,2019-04-29
7673,714d7,2019-04-29 15:01:55,body-temperature,35.527,Cel,2019-04-29
7674,714d7,2019-04-29 15:05:29,systolic-blood-pressure,124.000,mm[Hg],2019-04-29
7675,714d7,2019-04-29 15:05:29,diastolic-blood-pressure,71.000,mm[Hg],2019-04-29
...,...,...,...,...,...,...
8013,714d7,2019-06-30 08:04:34,body-temperature,36.171,Cel,2019-06-30
8014,714d7,2019-06-30 08:04:57,body-temperature,36.171,Cel,2019-06-30
8015,714d7,2019-06-30 08:05:16,systolic-blood-pressure,130.000,mm[Hg],2019-06-30
8016,714d7,2019-06-30 08:05:16,diastolic-blood-pressure,68.000,mm[Hg],2019-06-30
8017,714d7,2019-06-30 08:05:16,heart-rate,73.000,beats/min,2019-06-30

,id,date-time,type,value,unit,date
8019,73f7c,2019-05-13 14:02:13,total-body-water,46.500,%,2019-05-13
8018,73f7c,2019-05-13 14:02:13,muscle-mass,55.600,kg,2019-05-13
8020,73f7c,2019-05-13 14:02:13,body-weight,84.100,kg,2019-05-13
8021,73f7c,2019-05-13 14:32:17,body-temperature,35.107,Cel,2019-05-13
8022,73f7c,2019-05-13 14:32:51,body-temperature,36.581,Cel,2019-05-13
...,...,...,...,...,...,...
8262,73f7c,2019-06-30 20:22:30,heart-rate,65.000,beats/min,2019-06-30
8260,73f7c,2019-06-30 20:22:30,systolic-blood-pressure,111.000,mm[Hg],2019-06-30
8261,73f7c,2019-06-30 20:22:30,diastolic-blood-pressure,76.000,mm[Hg],2019-06-30
8263,73f7c,2019-06-30 20:22:47,body-temperature,37.719,Cel,2019-06-30
8264,73f7c,2019-06-30 20:23:16,body-temperature,37.719,Cel,2019-06-30

,id,date-time,type,value,unit,date
8265,76230,2019-06-25 14:35:57,body-temperature,36.041,Cel,2019-06-25
8266,76230,2019-06-25 14:36:31,body-temperature,36.041,Cel,2019-06-25
8267,76230,2019-06-25 14:37:12,body-temperature,35.922,Cel,2019-06-25
8268,76230,2019-06-25 14:37:51,body-temperature,35.845,Cel,2019-06-25
8269,76230,2019-06-25 14:38:25,body-temperature,35.845,Cel,2019-06-25
8270,76230,2019-06-25 14:43:56,systolic-blood-pressure,125.000,mm[Hg],2019-06-25
8272,76230,2019-06-25 14:43:56,heart-rate,62.000,beats/min,2019-06-25
8271,76230,2019-06-25 14:43:56,diastolic-blood-pressure,72.000,mm[Hg],2019-06-25
8273,76230,2019-06-25 14:54:22,body-weight,75.000,kg,2019-06-25
8274,76230,2019-06-25 14:54:22,muscle-mass,57.200,kg,2019-06-25
8275,76230,2019-06-25 14:54:22,total-body-water,53.700,%,2019-06-25
8276,76230,2019-06-26 10:25:56,body-temperature,35.624,Cel,2019-06-26
8277,76230,2019-06-26 10:26:20,body-temperature,35.624,Cel,2019-06-26
8279,76230,2019-06-26 10:28:41,diastolic-blood-pressure,89.000,mm[Hg],2019-06-26
8280,76230,2019-06-26 10:28:41,heart-rate,88.000,beats/min,2019-06-26
8278,76230,2019-06-26 10:28:41,systolic-blood-pressure,120.000,mm[Hg],2019-06-26
8281,76230,2019-06-27 09:35:56,body-temperature,35.852,Cel,2019-06-27
8282,76230,2019-06-27 09:36:19,body-temperature,35.852,Cel,2019-06-27
8285,76230,2019-06-27 09:44:37,heart-rate,85.000,beats/min,2019-06-27
8284,76230,2019-06-27 09:44:37,diastolic-blood-pressure,75.000,mm[Hg],2019-06-27
8283,76230,2019-06-27 09:44:37,systolic-blood-pressure,112.000,mm[Hg],2019-06-27
8286,76230,2019-06-28 10:56:31,body-temperature,36.665,Cel,2019-06-28
8287,76230,2019-06-28 10:57:22,body-temperature,36.665,Cel,2019-06-28
8290,76230,2019-06-28 11:00:44,heart-rate,88.000,beats/min,2019-06-28
8288,76230,2019-06-28 11:00:44,systolic-blood-pressure,151.000,mm[Hg],2019-06-28
8289,76230,2019-06-28 11:00:44,diastolic-blood-pressure,86.000,mm[Hg],2019-06-28
8291,76230,2019-06-29 10:48:00,body-temperature,36.344,Cel,2019-06-29
8292,76230,2019-06-29 10:48:31,body-temperature,36.344,Cel,2019-06-29
8294,76230,2019-06-29 11:44:36,diastolic-blood-pressure,72.000,mm[Hg],2019-06-29
8293,76230,2019-06-29 11:44:36,systolic-blood-pressure,134.000,mm[Hg],2019-06-29
8295,76230,2019-06-29 11:44:36,heart-rate,93.000,beats/min,2019-06-29

,id,date-time,type,value,unit,date
8296,7db78,2019-04-23 10:14:37,body-temperature,36.711,Cel,2019-04-23
8297,7db78,2019-04-23 10:15:18,body-temperature,36.711,Cel,2019-04-23
8298,7db78,2019-04-23 10:51:37,body-temperature,35.874,Cel,2019-04-23
8299,7db78,2019-04-23 10:52:12,body-temperature,35.874,Cel,2019-04-23
8302,7db78,2019-04-23 11:13:14,total-body-water,44.700,%,2019-04-23
...,...,...,...,...,...,...
8849,7db78,2019-06-30 08:24:46,body-temperature,36.485,Cel,2019-06-30
8850,7db78,2019-06-30 08:25:05,body-temperature,36.485,Cel,2019-06-30
8852,7db78,2019-06-30 08:26:13,diastolic-blood-pressure,81.000,mm[Hg],2019-06-30
8851,7db78,2019-06-30 08:26:13,systolic-blood-pressure,123.000,mm[Hg],2019-06-30
8853,7db78,2019-06-30 08:26:13,heart-rate,60.000,beats/min,2019-06-30

,id,date-time,type,value,unit,date
8856,8a835,2019-04-17 14:08:41,body-weight,50.400,kg,2019-04-17
8855,8a835,2019-04-17 14:08:41,muscle-mass,33.400,kg,2019-04-17
8854,8a835,2019-04-17 14:08:41,total-body-water,48.300,%,2019-04-17
8857,8a835,2019-04-17 14:17:44,systolic-blood-pressure,150.000,mm[Hg],2019-04-17
8859,8a835,2019-04-17 14:17:44,heart-rate,69.000,beats/min,2019-04-17
...,...,...,...,...,...,...
9053,8a835,2019-06-28 22:24:05,body-temperature,35.868,Cel,2019-06-28
9054,8a835,2019-06-28 22:24:18,body-temperature,36.173,Cel,2019-06-28
9055,8a835,2019-06-29 22:01:51,body-temperature,35.978,Cel,2019-06-29
9056,8a835,2019-06-29 22:02:03,body-temperature,35.560,Cel,2019-06-29
9057,8a835,2019-06-29 22:02:21,body-temperature,35.978,Cel,2019-06-29

,id,date-time,type,value,unit,date
9058,8d0d4,2019-04-23 12:55:08,body-temperature,36.822,Cel,2019-04-23
9059,8d0d4,2019-04-23 13:20:06,body-weight,59.800,kg,2019-04-23
9060,8d0d4,2019-04-23 13:21:29,muscle-mass,38.400,kg,2019-04-23
9061,8d0d4,2019-04-23 13:21:29,total-body-water,47.700,%,2019-04-23
9062,8d0d4,2019-04-23 13:21:29,body-weight,59.700,kg,2019-04-23
9063,8d0d4,2019-04-23 13:25:49,body-temperature,36.387,Cel,2019-04-23
9064,8d0d4,2019-04-23 13:25:50,body-temperature,36.057,Cel,2019-04-23
9067,8d0d4,2019-04-23 13:31:14,heart-rate,70.000,beats/min,2019-04-23
9066,8d0d4,2019-04-23 13:31:14,diastolic-blood-pressure,92.000,mm[Hg],2019-04-23
9065,8d0d4,2019-04-23 13:31:14,systolic-blood-pressure,147.000,mm[Hg],2019-04-23
9070,8d0d4,2019-04-30 18:40:23,heart-rate,106.000,beats/min,2019-04-30
9068,8d0d4,2019-04-30 18:40:23,systolic-blood-pressure,149.000,mm[Hg],2019-04-30
9069,8d0d4,2019-04-30 18:40:23,diastolic-blood-pressure,97.000,mm[Hg],2019-04-30
9071,8d0d4,2019-04-30 18:48:38,systolic-blood-pressure,136.000,mm[Hg],2019-04-30
9072,8d0d4,2019-04-30 18:48:38,diastolic-blood-pressure,85.000,mm[Hg],2019-04-30
9073,8d0d4,2019-04-30 18:48:38,heart-rate,73.000,beats/min,2019-04-30
9076,8d0d4,2019-04-30 18:52:16,heart-rate,71.000,beats/min,2019-04-30
9075,8d0d4,2019-04-30 18:52:16,diastolic-blood-pressure,89.000,mm[Hg],2019-04-30
9074,8d0d4,2019-04-30 18:52:16,systolic-blood-pressure,133.000,mm[Hg],2019-04-30
9077,8d0d4,2019-04-30 18:53:33,body-weight,60.200,kg,2019-04-30
9079,8d0d4,2019-04-30 18:53:33,total-body-water,48.900,%,2019-04-30
9078,8d0d4,2019-04-30 18:53:33,muscle-mass,39.700,kg,2019-04-30
9082,8d0d4,2019-04-30 18:53:44,body-weight,60.200,kg,2019-04-30
9080,8d0d4,2019-04-30 18:53:44,muscle-mass,39.700,kg,2019-04-30
9081,8d0d4,2019-04-30 18:53:44,total-body-water,48.900,%,2019-04-30
9083,8d0d4,2019-05-06 17:20:09,body-temperature,37.021,Cel,2019-05-06
9084,8d0d4,2019-05-06 17:20:10,body-temperature,35.560,Cel,2019-05-06
9087,8d0d4,2019-05-07 17:07:35,heart-rate,69.000,beats/min,2019-05-07
9086,8d0d4,2019-05-07 17:07:35,diastolic-blood-pressure,99.000,mm[Hg],2019-05-07
9085,8d0d4,2019-05-07 17:07:35,systolic-blood-pressure,157.000,mm[Hg],2019-05-07
9090,8d0d4,2019-05-08 19:27:32,heart-rate,67.000,beats/min,2019-05-08
9088,8d0d4,2019-05-08 19:27:32,systolic-blood-pressure,151.000,mm[Hg],2019-05-08
9089,8d0d4,2019-05-08 19:27:32,diastolic-blood-pressure,101.000,mm[Hg],2019-05-08
9091,8d0d4,2019-05-08 19:28:52,systolic-blood-pressure,154.000,mm[Hg],2019-05-08
9092,8d0d4,2019-05-08 19:28:52,diastolic-blood-pressure,97.000,mm[Hg],2019-05-08
9093,8d0d4,2019-05-08 19:28:52,heart-rate,67.000,beats/min,2019-05-08
9094,8d0d4,2019-05-08 19:30:18,systolic-blood-pressure,151.000,mm[Hg],2019-05-08
9096,8d0d4,2019-05-08 19:30:18,heart-rate,69.000,beats/min,2019-05-08
9095,8d0d4,2019-05-08 19:30:18,diastolic-blood-pressure,102.000,mm[Hg],2019-05-08
9098,8d0d4,2019-05-08 20:14:12,diastolic-blood-pressure,79.000,mm[Hg],2019-05-08
9099,8d0d4,2019-05-08 20:14:12,heart-rate,68.000,beats/min,2019-05-08
9097,8d0d4,2019-05-08 20:14:12,systolic-blood-pressure,142.000,mm[Hg],2019-05-08
9100,8d0d4,2019-05-08 20:16:06,systolic-blood-pressure,144.000,mm[Hg],2019-05-08
9101,8d0d4,2019-05-08 20:16:06,diastolic-blood-pressure,96.000,mm[Hg],2019-05-08
9102,8d0d4,2019-05-08 20:16:06,heart-rate,77.000,beats/min,2019-05-08
9103,8d0d4,2019-05-24 12:37:11,systolic-blood-pressure,114.000,mm[Hg],2019-05-24
9104,8d0d4,2019-05-24 12:37:11,diastolic-blood-pressure,75.000,mm[Hg],2019-05-24
9105,8d0d4,2019-05-24 12:37:11,heart-rate,72.000,beats/min,2019-05-24
9106,8d0d4,2019-05-24 12:39:31,systolic-blood-pressure,129.000,mm[Hg],2019-05-24
9107,8d0d4,2019-05-24 12:39:31,diastolic-blood-pressure,91.000,mm[Hg],2019-05-24
9108,8d0d4,2019-05-24 12:39:31,heart-rate,79.000,beats/min,2019-05-24
9111,8d0d4,2019-05-24 12:39:52,heart-rate,79.000,beats/min,2019-05-24
9110,8d0d4,2019-05-24 12:39:52,diastolic-blood-pressure,91.000,mm[Hg],2019-05-24
9109,8d0d4,2019-05-24 12:39:52,systolic-blood-pressure,129.000,mm[Hg],2019-05-24
9112,8d0d4,2019-05-24 12:53:50,body-temperature,36.425,Cel,2019-05-24

         id           date-time              type   value unit        date
9113  93c14 2019-05-13 11:02:10  body-temperature  36.720  Cel  2019-05-13
9114  93c14 2019-05-13 11:02:10  skin-temperature  34.514  Cel  2019-05-13
9115  93c14 2019-05-13 11:02:49  body-temperature  36.654  Cel  2019-05-13
9116  93c14 2019-05-13 11:02:49  skin-temperature  34.384  Cel  2019-05-13
9117  93c14 2019-05-13 11:03:14  body-temperature  37.069  Cel  2019-05-13
...     ...                 ...               ...     ...  ...         ...
9558  93c14 2019-06-30 10:17:45  body-temperature  35.583  Cel  2019-06-30
9559  93c14 2019-06-30 10:18:04  body-temperature  35.583  Cel  2019-06-30
9560  93c14 2019-06-30 10:18:55       muscle-mass  60.100   kg  2019-06-30
9561  93c14 2019-06-30 10:18:55  total-body-water  50.100    %  2019-06-30
9562  93c14 2019-06-30 10:18:55       body-weight  83.400   kg  2019-06-30

[450 rows x 6 columns]

,id,date-time,type,value,unit,date
9563,95899,2019-05-17 13:32:00,body-temperature,36.709,Cel,2019-05-17
9564,95899,2019-05-17 13:32:23,body-temperature,36.709,Cel,2019-05-17
9565,95899,2019-05-17 13:32:38,body-temperature,36.521,Cel,2019-05-17
9566,95899,2019-05-17 13:33:08,body-temperature,36.521,Cel,2019-05-17
9567,95899,2019-05-17 13:35:16,systolic-blood-pressure,93.000,mm[Hg],2019-05-17
...,...,...,...,...,...,...
9733,95899,2019-06-28 12:23:57,diastolic-blood-pressure,90.000,mm[Hg],2019-06-28
9734,95899,2019-06-28 12:23:57,heart-rate,70.000,beats/min,2019-06-28
9732,95899,2019-06-28 12:23:57,systolic-blood-pressure,139.000,mm[Hg],2019-06-28
9735,95899,2019-06-29 09:04:10,body-temperature,36.923,Cel,2019-06-29
9736,95899,2019-06-29 09:04:42,body-temperature,36.923,Cel,2019-06-29

,id,date-time,type,value,unit,date
9737,96adf,2019-05-07 11:25:58,body-temperature,34.905,Cel,2019-05-07
9738,96adf,2019-05-07 11:25:58,skin-temperature,31.000,Cel,2019-05-07
9739,96adf,2019-05-07 12:25:58,body-temperature,34.905,Cel,2019-05-07
9740,96adf,2019-05-07 12:26:49,body-temperature,34.905,Cel,2019-05-07
9741,96adf,2019-05-07 12:31:12,systolic-blood-pressure,133.000,mm[Hg],2019-05-07
...,...,...,...,...,...,...
10140,96adf,2019-06-30 13:10:36,body-temperature,37.069,Cel,2019-06-30
10141,96adf,2019-06-30 13:10:59,body-temperature,37.069,Cel,2019-06-30
10144,96adf,2019-06-30 13:14:03,heart-rate,67.000,beats/min,2019-06-30
10143,96adf,2019-06-30 13:14:03,diastolic-blood-pressure,67.000,mm[Hg],2019-06-30
10142,96adf,2019-06-30 13:14:03,systolic-blood-pressure,116.000,mm[Hg],2019-06-30

,id,date-time,type,value,unit,date
10145,a2849,2019-05-01 10:32:46,body-temperature,35.910,Cel,2019-05-01
10146,a2849,2019-05-01 10:33:03,body-temperature,36.851,Cel,2019-05-01
10147,a2849,2019-05-01 10:33:36,body-temperature,36.271,Cel,2019-05-01
10148,a2849,2019-05-01 10:34:37,body-temperature,36.271,Cel,2019-05-01
10151,a2849,2019-05-01 10:36:35,heart-rate,63.000,beats/min,2019-05-01
...,...,...,...,...,...,...
10840,a2849,2019-06-29 10:19:49,body-temperature,36.232,Cel,2019-06-29
10841,a2849,2019-06-29 10:20:11,body-temperature,36.232,Cel,2019-06-29
10844,a2849,2019-06-29 10:20:43,heart-rate,80.000,beats/min,2019-06-29
10843,a2849,2019-06-29 10:20:43,diastolic-blood-pressure,57.000,mm[Hg],2019-06-29
10842,a2849,2019-06-29 10:20:43,systolic-blood-pressure,89.000,mm[Hg],2019-06-29

,id,date-time,type,value,unit,date
10845,a380e,2019-04-29 12:13:49,systolic-blood-pressure,124.000,mm[Hg],2019-04-29
10846,a380e,2019-04-29 12:13:49,diastolic-blood-pressure,63.000,mm[Hg],2019-04-29
10847,a380e,2019-04-29 12:13:49,heart-rate,56.000,beats/min,2019-04-29
10848,a380e,2019-04-29 12:17:59,body-temperature,36.457,Cel,2019-04-29
10849,a380e,2019-04-29 12:20:25,body-temperature,36.028,Cel,2019-04-29
...,...,...,...,...,...,...
11082,a380e,2019-05-24 12:42:36,heart-rate,63.000,beats/min,2019-05-24
11084,a380e,2019-05-24 12:42:55,diastolic-blood-pressure,65.000,mm[Hg],2019-05-24
11085,a380e,2019-05-24 12:42:55,heart-rate,63.000,beats/min,2019-05-24
11083,a380e,2019-05-24 12:42:55,systolic-blood-pressure,117.000,mm[Hg],2019-05-24
11086,a380e,2019-05-24 12:52:04,body-temperature,36.925,Cel,2019-05-24

,id,date-time,type,value,unit,date
11087,a539e,2019-05-03 13:06:31,body-temperature,35.682,Cel,2019-05-03
11088,a539e,2019-05-03 13:06:54,body-temperature,35.500,Cel,2019-05-03
11089,a539e,2019-05-03 13:07:28,body-temperature,35.317,Cel,2019-05-03
11090,a539e,2019-05-03 13:07:59,body-temperature,35.317,Cel,2019-05-03
11093,a539e,2019-05-03 13:12:48,heart-rate,50.000,beats/min,2019-05-03
...,...,...,...,...,...,...
11277,a539e,2019-06-22 10:04:27,body-temperature,36.373,Cel,2019-06-22
11278,a539e,2019-06-22 10:04:43,body-temperature,36.373,Cel,2019-06-22
11279,a539e,2019-06-22 10:08:24,systolic-blood-pressure,131.000,mm[Hg],2019-06-22
11280,a539e,2019-06-22 10:08:24,diastolic-blood-pressure,69.000,mm[Hg],2019-06-22
11281,a539e,2019-06-22 10:08:24,heart-rate,70.000,beats/min,2019-06-22

,id,date-time,type,value,unit,date
11282,ab47a,2019-05-17 10:39:58,body-temperature,36.473,Cel,2019-05-17
11283,ab47a,2019-05-17 10:40:07,body-temperature,36.469,Cel,2019-05-17
11284,ab47a,2019-05-17 10:40:49,body-temperature,36.469,Cel,2019-05-17
11285,ab47a,2019-05-17 10:41:12,body-temperature,35.804,Cel,2019-05-17
11286,ab47a,2019-05-17 10:41:35,body-temperature,35.564,Cel,2019-05-17
...,...,...,...,...,...,...
11527,ab47a,2019-06-30 10:41:43,body-temperature,36.404,Cel,2019-06-30
11528,ab47a,2019-06-30 10:42:08,systolic-blood-pressure,186.000,mm[Hg],2019-06-30
11529,ab47a,2019-06-30 10:42:08,diastolic-blood-pressure,102.000,mm[Hg],2019-06-30
11530,ab47a,2019-06-30 10:42:08,heart-rate,69.000,beats/min,2019-06-30
11531,ab47a,2019-06-30 10:42:44,body-weight,63.400,kg,2019-06-30

,id,date-time,type,value,unit,date
11532,b0455,2019-06-21 11:50:06,body-temperature,36.381,Cel,2019-06-21
11533,b0455,2019-06-21 11:50:06,skin-temperature,34.103,Cel,2019-06-21
11534,b0455,2019-06-21 12:50:06,body-temperature,36.381,Cel,2019-06-21
11535,b0455,2019-06-21 12:50:51,body-temperature,36.381,Cel,2019-06-21
11537,b0455,2019-06-21 15:38:40,diastolic-blood-pressure,75.000,mm[Hg],2019-06-21
...,...,...,...,...,...,...
11618,b0455,2019-06-30 07:48:04,body-temperature,36.741,Cel,2019-06-30
11619,b0455,2019-06-30 07:48:33,body-temperature,36.741,Cel,2019-06-30
11620,b0455,2019-06-30 07:49:46,muscle-mass,54.000,kg,2019-06-30
11621,b0455,2019-06-30 07:49:46,body-weight,72.700,kg,2019-06-30
11622,b0455,2019-06-30 07:49:46,total-body-water,53.100,%,2019-06-30

,id,date-time,type,value,unit,date
11623,b45c2,2019-04-16 14:59:34,systolic-blood-pressure,116.00,mm[Hg],2019-04-16
11624,b45c2,2019-04-16 14:59:34,diastolic-blood-pressure,80.00,mm[Hg],2019-04-16
11625,b45c2,2019-04-16 14:59:34,heart-rate,65.00,beats/min,2019-04-16
11626,b45c2,2019-04-30 17:47:19,systolic-blood-pressure,132.00,mm[Hg],2019-04-30
11627,b45c2,2019-04-30 17:47:19,diastolic-blood-pressure,73.00,mm[Hg],2019-04-30
...,...,...,...,...,...,...
11837,b45c2,2019-06-30 17:50:20,heart-rate,70.00,beats/min,2019-06-30
11836,b45c2,2019-06-30 17:50:20,diastolic-blood-pressure,73.00,mm[Hg],2019-06-30
11835,b45c2,2019-06-30 17:50:20,systolic-blood-pressure,153.00,mm[Hg],2019-06-30
11838,b45c2,2019-06-30 17:51:28,body-temperature,37.29,Cel,2019-06-30
11839,b45c2,2019-06-30 17:52:01,body-temperature,37.29,Cel,2019-06-30

          id           date-time              type   value unit        date
11840  b9d58 2019-04-01 15:51:38  body-temperature  36.853  Cel  2019-04-01
11841  b9d58 2019-04-02 18:44:35  body-temperature  36.620  Cel  2019-04-02
11842  b9d58 2019-04-03 07:40:23  body-temperature  36.738  Cel  2019-04-03
11843  b9d58 2019-04-03 07:42:01  body-temperature  36.624  Cel  2019-04-03
11844  b9d58 2019-04-04 08:28:39  body-temperature  36.357  Cel  2019-04-04
...      ...                 ...               ...     ...  ...         ...
11971  b9d58 2019-06-28 08:12:22  body-temperature  36.419  Cel  2019-06-28
11972  b9d58 2019-06-29 09:05:11  body-temperature  36.222  Cel  2019-06-29
11973  b9d58 2019-06-29 09:05:52  body-temperature  36.222  Cel  2019-06-29
11974  b9d58 2019-06-30 08:25:58  body-temperature  36.804  Cel  2019-06-30
11975  b9d58 2019-06-30 08:26:37  body-temperature  36.804  Cel  2019-06-30

[136 rows x 6 columns]

,id,date-time,type,value,unit,date
11976,c5031,2019-05-15 14:30:35,body-temperature,37.132,Cel,2019-05-15
11977,c5031,2019-05-15 14:31:07,body-temperature,37.132,Cel,2019-05-15
11978,c5031,2019-05-15 14:31:14,body-temperature,36.335,Cel,2019-05-15
11979,c5031,2019-05-15 14:31:34,body-temperature,36.962,Cel,2019-05-15
11980,c5031,2019-05-15 14:32:01,body-temperature,36.962,Cel,2019-05-15
...,...,...,...,...,...,...
12296,c5031,2019-06-30 09:35:19,total-body-water,51.900,%,2019-06-30
12295,c5031,2019-06-30 09:35:19,muscle-mass,43.800,kg,2019-06-30
12297,c5031,2019-06-30 09:46:08,systolic-blood-pressure,132.000,mm[Hg],2019-06-30
12298,c5031,2019-06-30 09:46:08,diastolic-blood-pressure,70.000,mm[Hg],2019-06-30
12299,c5031,2019-06-30 09:46:08,heart-rate,82.000,beats/min,2019-06-30

,id,date-time,type,value,unit,date
12300,c55f8,2019-04-01 07:58:18,body-temperature,37.007,Cel,2019-04-01
12301,c55f8,2019-04-01 08:57:31,systolic-blood-pressure,142.000,mm[Hg],2019-04-01
12303,c55f8,2019-04-01 08:57:31,heart-rate,61.000,beats/min,2019-04-01
12302,c55f8,2019-04-01 08:57:31,diastolic-blood-pressure,83.000,mm[Hg],2019-04-01
12304,c55f8,2019-04-01 08:58:18,body-temperature,37.007,Cel,2019-04-01
...,...,...,...,...,...,...
13246,c55f8,2019-06-30 08:40:41,muscle-mass,36.800,kg,2019-06-30
13247,c55f8,2019-06-30 08:40:41,body-weight,54.900,kg,2019-06-30
13250,c55f8,2019-06-30 10:49:52,heart-rate,60.000,beats/min,2019-06-30
13248,c55f8,2019-06-30 10:49:52,systolic-blood-pressure,139.000,mm[Hg],2019-06-30
13249,c55f8,2019-06-30 10:49:52,diastolic-blood-pressure,88.000,mm[Hg],2019-06-30

,id,date-time,type,value,unit,date
13251,c5785,2019-04-24 15:12:38,systolic-blood-pressure,157.000,mm[Hg],2019-04-24
13252,c5785,2019-04-24 15:12:38,diastolic-blood-pressure,76.000,mm[Hg],2019-04-24
13253,c5785,2019-04-24 15:12:38,heart-rate,54.000,beats/min,2019-04-24
13254,c5785,2019-04-24 15:13:42,body-temperature,36.354,Cel,2019-04-24
13255,c5785,2019-04-24 15:13:54,body-temperature,36.191,Cel,2019-04-24
...,...,...,...,...,...,...
13842,c5785,2019-06-30 08:48:57,body-temperature,36.582,Cel,2019-06-30
13843,c5785,2019-06-30 08:49:23,body-temperature,36.582,Cel,2019-06-30
13846,c5785,2019-06-30 08:50:56,heart-rate,55.000,beats/min,2019-06-30
13845,c5785,2019-06-30 08:50:56,diastolic-blood-pressure,63.000,mm[Hg],2019-06-30
13844,c5785,2019-06-30 08:50:56,systolic-blood-pressure,132.000,mm[Hg],2019-06-30

,id,date-time,type,value,unit,date
13848,c8574,2019-05-08 09:38:54,skin-temperature,34.423,Cel,2019-05-08
13847,c8574,2019-05-08 09:38:54,body-temperature,36.557,Cel,2019-05-08
13850,c8574,2019-05-08 09:40:40,skin-temperature,34.554,Cel,2019-05-08
13849,c8574,2019-05-08 09:40:40,body-temperature,36.625,Cel,2019-05-08
13852,c8574,2019-05-08 09:41:12,skin-temperature,34.275,Cel,2019-05-08
...,...,...,...,...,...,...
14336,c8574,2019-06-30 10:08:03,body-temperature,37.045,Cel,2019-06-30
14337,c8574,2019-06-30 10:08:53,systolic-blood-pressure,140.000,mm[Hg],2019-06-30
14338,c8574,2019-06-30 10:08:53,diastolic-blood-pressure,72.000,mm[Hg],2019-06-30
14339,c8574,2019-06-30 10:08:53,heart-rate,73.000,beats/min,2019-06-30
14340,c8574,2019-06-30 10:10:17,body-weight,73.100,kg,2019-06-30

,id,date-time,type,value,unit,date
14341,ca44d,2019-05-21 12:12:20,body-temperature,37.167,Cel,2019-05-21
14342,ca44d,2019-05-21 12:12:50,body-temperature,37.167,Cel,2019-05-21
14343,ca44d,2019-05-21 12:13:12,body-temperature,36.610,Cel,2019-05-21
14344,ca44d,2019-05-21 12:13:40,body-temperature,36.750,Cel,2019-05-21
14345,ca44d,2019-05-21 12:14:02,body-temperature,36.750,Cel,2019-05-21
...,...,...,...,...,...,...
14564,ca44d,2019-06-29 13:32:53,heart-rate,96.000,beats/min,2019-06-29
14565,ca44d,2019-06-29 13:35:49,body-temperature,37.055,Cel,2019-06-29
14566,ca44d,2019-06-29 13:36:17,body-temperature,37.055,Cel,2019-06-29
14567,ca44d,2019-06-30 22:46:50,body-temperature,37.328,Cel,2019-06-30
14568,ca44d,2019-06-30 22:47:43,body-temperature,37.328,Cel,2019-06-30

          id           date-time              type   value unit        date
14569  d263a 2019-04-23 14:35:50  body-temperature  36.752  Cel  2019-04-23
14570  d263a 2019-04-23 14:36:07  body-temperature  36.653  Cel  2019-04-23
14571  d263a 2019-04-23 14:36:35  body-temperature  36.653  Cel  2019-04-23
14572  d263a 2019-04-23 14:36:51  body-temperature  36.752  Cel  2019-04-23
14573  d263a 2019-04-23 14:41:55  body-temperature  36.462  Cel  2019-04-23
...      ...                 ...               ...     ...  ...         ...
14726  d263a 2019-06-23 18:43:57  body-temperature  36.667  Cel  2019-06-23
14727  d263a 2019-06-25 20:00:00  body-temperature  36.620  Cel  2019-06-25
14728  d263a 2019-06-25 20:00:26  body-temperature  36.620  Cel  2019-06-25
14729  d263a 2019-06-26 07:45:28  body-temperature  36.308  Cel  2019-06-26
14730  d263a 2019-06-26 07:45:52  body-temperature  36.308  Cel  2019-06-26

[162 rows x 6 columns]

,id,date-time,type,value,unit,date
14731,d44d2,2019-06-13 15:51:58,body-temperature,35.709,Cel,2019-06-13
14732,d44d2,2019-06-13 15:52:27,body-temperature,36.308,Cel,2019-06-13
14733,d44d2,2019-06-13 15:52:58,body-temperature,36.308,Cel,2019-06-13
14734,d44d2,2019-06-13 15:56:20,systolic-blood-pressure,139.000,mm[Hg],2019-06-13
14736,d44d2,2019-06-13 15:56:20,heart-rate,74.000,beats/min,2019-06-13
...,...,...,...,...,...,...
14867,d44d2,2019-06-29 09:35:32,body-temperature,35.985,Cel,2019-06-29
14868,d44d2,2019-06-29 09:36:09,body-temperature,35.985,Cel,2019-06-29
14869,d44d2,2019-06-30 09:27:50,systolic-blood-pressure,145.000,mm[Hg],2019-06-30
14870,d44d2,2019-06-30 09:27:50,diastolic-blood-pressure,81.000,mm[Hg],2019-06-30
14871,d44d2,2019-06-30 09:27:50,heart-rate,81.000,beats/min,2019-06-30

,id,date-time,type,value,unit,date
14874,d7a46,2019-06-07 10:58:57,heart-rate,98.000,beats/min,2019-06-07
14873,d7a46,2019-06-07 10:58:57,diastolic-blood-pressure,65.000,mm[Hg],2019-06-07
14872,d7a46,2019-06-07 10:58:57,systolic-blood-pressure,145.000,mm[Hg],2019-06-07
14875,d7a46,2019-06-07 11:23:19,body-temperature,36.466,Cel,2019-06-07
14876,d7a46,2019-06-07 11:23:47,body-temperature,36.263,Cel,2019-06-07
...,...,...,...,...,...,...
15007,d7a46,2019-06-30 22:48:01,systolic-blood-pressure,181.000,mm[Hg],2019-06-30
15009,d7a46,2019-06-30 22:48:01,heart-rate,83.000,beats/min,2019-06-30
15010,d7a46,2019-06-30 23:05:00,systolic-blood-pressure,173.000,mm[Hg],2019-06-30
15012,d7a46,2019-06-30 23:05:00,heart-rate,87.000,beats/min,2019-06-30
15011,d7a46,2019-06-30 23:05:00,diastolic-blood-pressure,88.000,mm[Hg],2019-06-30

,id,date-time,type,value,unit,date
15013,d8d97,2019-06-24 11:41:18,systolic-blood-pressure,130.000,mm[Hg],2019-06-24
15015,d8d97,2019-06-24 11:41:18,heart-rate,90.000,beats/min,2019-06-24
15014,d8d97,2019-06-24 11:41:18,diastolic-blood-pressure,79.000,mm[Hg],2019-06-24
15018,d8d97,2019-06-24 11:41:20,heart-rate,95.000,beats/min,2019-06-24
15017,d8d97,2019-06-24 11:41:20,diastolic-blood-pressure,84.000,mm[Hg],2019-06-24
15016,d8d97,2019-06-24 11:41:20,systolic-blood-pressure,135.000,mm[Hg],2019-06-24
15019,d8d97,2019-06-24 11:42:08,body-temperature,37.362,Cel,2019-06-24
15020,d8d97,2019-06-24 11:42:45,body-temperature,37.318,Cel,2019-06-24
15021,d8d97,2019-06-24 11:42:52,body-temperature,34.890,Cel,2019-06-24
15022,d8d97,2019-06-24 11:42:59,body-temperature,37.225,Cel,2019-06-24
15023,d8d97,2019-06-24 11:43:15,body-temperature,37.056,Cel,2019-06-24
15024,d8d97,2019-06-24 11:43:45,body-temperature,37.056,Cel,2019-06-24
15025,d8d97,2019-06-24 12:05:53,body-temperature,37.365,Cel,2019-06-24
15026,d8d97,2019-06-24 12:06:18,body-temperature,37.365,Cel,2019-06-24
15027,d8d97,2019-06-24 12:06:35,body-temperature,35.601,Cel,2019-06-24
15028,d8d97,2019-06-24 12:16:57,body-temperature,35.762,Cel,2019-06-24
15029,d8d97,2019-06-25 20:37:06,body-temperature,37.111,Cel,2019-06-25
15030,d8d97,2019-06-25 20:37:38,body-temperature,37.452,Cel,2019-06-25
15031,d8d97,2019-06-25 20:38:19,body-temperature,37.452,Cel,2019-06-25
15034,d8d97,2019-06-25 20:40:55,heart-rate,98.000,beats/min,2019-06-25
15032,d8d97,2019-06-25 20:40:55,systolic-blood-pressure,143.000,mm[Hg],2019-06-25
15033,d8d97,2019-06-25 20:40:55,diastolic-blood-pressure,82.000,mm[Hg],2019-06-25
15037,d8d97,2019-06-25 20:42:22,heart-rate,89.000,beats/min,2019-06-25
15036,d8d97,2019-06-25 20:42:22,diastolic-blood-pressure,76.000,mm[Hg],2019-06-25
15035,d8d97,2019-06-25 20:42:22,systolic-blood-pressure,136.000,mm[Hg],2019-06-25

,id,date-time,type,value,unit,date
15040,d93d8,2019-05-08 13:56:36,heart-rate,68.000,beats/min,2019-05-08
15039,d93d8,2019-05-08 13:56:36,diastolic-blood-pressure,112.000,mm[Hg],2019-05-08
15038,d93d8,2019-05-08 13:56:36,systolic-blood-pressure,192.000,mm[Hg],2019-05-08
15041,d93d8,2019-05-08 13:58:19,body-temperature,34.867,Cel,2019-05-08
15042,d93d8,2019-05-08 13:58:41,body-temperature,36.510,Cel,2019-05-08
...,...,...,...,...,...,...
15505,d93d8,2019-06-30 06:44:49,body-temperature,36.566,Cel,2019-06-30
15506,d93d8,2019-06-30 06:45:16,body-temperature,36.566,Cel,2019-06-30
15509,d93d8,2019-06-30 06:46:26,heart-rate,70.000,beats/min,2019-06-30
15508,d93d8,2019-06-30 06:46:26,diastolic-blood-pressure,85.000,mm[Hg],2019-06-30
15507,d93d8,2019-06-30 06:46:26,systolic-blood-pressure,148.000,mm[Hg],2019-06-30

,id,date-time,type,value,unit,date
15511,e2472,2019-05-29 12:10:09,skin-temperature,33.101,Cel,2019-05-29
15510,e2472,2019-05-29 12:10:09,body-temperature,35.941,Cel,2019-05-29
15513,e2472,2019-05-29 12:10:29,skin-temperature,34.483,Cel,2019-05-29
15512,e2472,2019-05-29 12:10:29,body-temperature,36.588,Cel,2019-05-29
15515,e2472,2019-05-29 12:11:08,skin-temperature,34.659,Cel,2019-05-29
...,...,...,...,...,...,...
15816,e2472,2019-06-30 17:04:45,body-temperature,37.258,Cel,2019-06-30
15817,e2472,2019-06-30 17:05:13,body-temperature,37.258,Cel,2019-06-30
15820,e2472,2019-06-30 17:06:35,heart-rate,75.000,beats/min,2019-06-30
15819,e2472,2019-06-30 17:06:35,diastolic-blood-pressure,58.000,mm[Hg],2019-06-30
15818,e2472,2019-06-30 17:06:35,systolic-blood-pressure,119.000,mm[Hg],2019-06-30

          id           date-time              type   value unit        date
15821  e4959 2019-04-25 11:14:42  body-temperature  36.358  Cel  2019-04-25
15822  e4959 2019-04-25 11:14:49  body-temperature  35.939  Cel  2019-04-25
15823  e4959 2019-04-25 11:15:12  body-temperature  36.800  Cel  2019-04-25
15824  e4959 2019-04-25 11:15:40  body-temperature  36.800  Cel  2019-04-25
15825  e4959 2019-04-25 12:11:50  body-temperature  36.855  Cel  2019-04-25
...      ...                 ...               ...     ...  ...         ...
15927  e4959 2019-06-20 13:05:52  body-temperature  36.534  Cel  2019-06-20
15928  e4959 2019-06-21 09:57:43  body-temperature  35.954  Cel  2019-06-21
15929  e4959 2019-06-21 18:32:28  body-temperature  35.756  Cel  2019-06-21
15930  e4959 2019-06-21 18:33:13  body-temperature  36.320  Cel  2019-06-21
15931  e4959 2019-06-21 18:33:45  body-temperature  36.320  Cel  2019-06-21

[111 rows x 6 columns]

,id,date-time,type,value,unit,date
15932,e87bd,2019-05-20 15:08:05,body-temperature,35.565,Cel,2019-05-20
15933,e87bd,2019-05-20 15:08:11,body-temperature,35.591,Cel,2019-05-20
15934,e87bd,2019-05-20 15:08:22,body-temperature,35.825,Cel,2019-05-20
15935,e87bd,2019-05-20 15:09:04,body-temperature,35.665,Cel,2019-05-20
15936,e87bd,2019-05-20 15:09:41,body-temperature,35.665,Cel,2019-05-20
...,...,...,...,...,...,...
16165,e87bd,2019-06-25 10:19:05,body-temperature,35.342,Cel,2019-06-25
16166,e87bd,2019-06-25 10:19:21,body-temperature,35.342,Cel,2019-06-25
16169,e87bd,2019-06-25 10:22:26,heart-rate,73.000,beats/min,2019-06-25
16167,e87bd,2019-06-25 10:22:26,systolic-blood-pressure,133.000,mm[Hg],2019-06-25
16168,e87bd,2019-06-25 10:22:26,diastolic-blood-pressure,67.000,mm[Hg],2019-06-25

,id,date-time,type,value,unit,date
16171,e8a78,2019-04-16 12:02:32,diastolic-blood-pressure,94.000,mm[Hg],2019-04-16
16170,e8a78,2019-04-16 12:02:32,systolic-blood-pressure,149.000,mm[Hg],2019-04-16
16172,e8a78,2019-04-16 12:02:32,heart-rate,79.000,beats/min,2019-04-16
16173,e8a78,2019-04-16 12:03:36,body-temperature,36.192,Cel,2019-04-16
16174,e8a78,2019-04-16 12:04:16,body-temperature,36.192,Cel,2019-04-16
...,...,...,...,...,...,...
16459,e8a78,2019-06-30 08:24:09,heart-rate,62.000,beats/min,2019-06-30
16457,e8a78,2019-06-30 08:24:09,systolic-blood-pressure,114.000,mm[Hg],2019-06-30
16458,e8a78,2019-06-30 08:24:09,diastolic-blood-pressure,64.000,mm[Hg],2019-06-30
16460,e8a78,2019-06-30 14:43:52,body-temperature,37.323,Cel,2019-06-30
16461,e8a78,2019-06-30 14:44:18,body-temperature,37.323,Cel,2019-06-30

          id           date-time              type   value unit        date
16462  ec812 2019-04-02 13:53:16  body-temperature  37.398  Cel  2019-04-02
16463  ec812 2019-04-02 13:53:47  body-temperature  37.398  Cel  2019-04-02
16464  ec812 2019-04-08 16:42:19  body-temperature  35.434  Cel  2019-04-08
16465  ec812 2019-04-08 16:42:38  body-temperature  36.705  Cel  2019-04-08
16466  ec812 2019-04-08 16:46:37  body-temperature  36.439  Cel  2019-04-08
...      ...                 ...               ...     ...  ...         ...
17098  ec812 2019-06-25 09:10:19  body-temperature  36.511  Cel  2019-06-25
17099  ec812 2019-06-25 09:10:58  body-temperature  36.511  Cel  2019-06-25
17100  ec812 2019-06-26 08:22:10  body-temperature  36.004  Cel  2019-06-26
17101  ec812 2019-06-27 15:38:02  body-temperature  36.288  Cel  2019-06-27
17102  ec812 2019-06-28 09:47:13  body-temperature  36.839  Cel  2019-06-28

[641 rows x 6 columns]

,id,date-time,type,value,unit,date
17103,eca1f,2019-05-07 15:05:27,systolic-blood-pressure,119.000,mm[Hg],2019-05-07
17105,eca1f,2019-05-07 15:05:27,heart-rate,99.000,beats/min,2019-05-07
17104,eca1f,2019-05-07 15:05:27,diastolic-blood-pressure,77.000,mm[Hg],2019-05-07
17106,eca1f,2019-05-07 15:06:28,body-temperature,36.642,Cel,2019-05-07
17107,eca1f,2019-05-07 15:06:56,body-temperature,36.615,Cel,2019-05-07
...,...,...,...,...,...,...
17472,eca1f,2019-06-30 14:33:04,diastolic-blood-pressure,71.000,mm[Hg],2019-06-30
17473,eca1f,2019-06-30 14:33:04,heart-rate,87.000,beats/min,2019-06-30
17474,eca1f,2019-06-30 14:36:14,muscle-mass,48.300,kg,2019-06-30
17475,eca1f,2019-06-30 14:36:14,body-weight,65.700,kg,2019-06-30
17476,eca1f,2019-06-30 14:36:14,total-body-water,54.300,%,2019-06-30

,id,date-time,type,value,unit,date
17478,f220c,2019-04-26 10:25:59,skin-temperature,34.435,Cel,2019-04-26
17477,f220c,2019-04-26 10:25:59,body-temperature,36.701,Cel,2019-04-26
17480,f220c,2019-04-26 11:03:02,skin-temperature,33.988,Cel,2019-04-26
17479,f220c,2019-04-26 11:03:02,body-temperature,36.312,Cel,2019-04-26
17481,f220c,2019-04-26 11:25:59,body-temperature,36.701,Cel,2019-04-26
...,...,...,...,...,...,...
17648,f220c,2019-06-29 11:32:02,body-temperature,37.027,Cel,2019-06-29
17649,f220c,2019-06-29 11:32:41,body-temperature,37.027,Cel,2019-06-29
17650,f220c,2019-06-29 11:35:46,systolic-blood-pressure,110.000,mm[Hg],2019-06-29
17652,f220c,2019-06-29 11:35:46,heart-rate,84.000,beats/min,2019-06-29
17651,f220c,2019-06-29 11:35:46,diastolic-blood-pressure,68.000,mm[Hg],2019-06-29

,id,date-time,type,value,unit,date
17653,fd100,2019-06-27 11:11:02,body-temperature,36.686,Cel,2019-06-27
17654,fd100,2019-06-27 11:30:26,systolic-blood-pressure,144.000,mm[Hg],2019-06-27
17656,fd100,2019-06-27 11:30:26,heart-rate,55.000,beats/min,2019-06-27
17655,fd100,2019-06-27 11:30:26,diastolic-blood-pressure,84.000,mm[Hg],2019-06-27
17657,fd100,2019-06-27 11:32:21,systolic-blood-pressure,162.000,mm[Hg],2019-06-27
17658,fd100,2019-06-27 11:32:21,diastolic-blood-pressure,68.000,mm[Hg],2019-06-27
17659,fd100,2019-06-27 11:32:21,heart-rate,53.000,beats/min,2019-06-27
17660,fd100,2019-06-27 11:33:24,body-temperature,36.903,Cel,2019-06-27
17661,fd100,2019-06-27 11:33:59,body-temperature,36.503,Cel,2019-06-27
17662,fd100,2019-06-27 11:34:23,body-temperature,36.903,Cel,2019-06-27
17663,fd100,2019-06-27 11:34:24,body-temperature,36.503,Cel,2019-06-27
17664,fd100,2019-06-27 11:37:01,body-weight,55.800,kg,2019-06-27
17666,fd100,2019-06-27 11:37:01,total-body-water,48.700,%,2019-06-27
17665,fd100,2019-06-27 11:37:01,muscle-mass,37.500,kg,2019-06-27
17667,fd100,2019-06-28 20:56:46,body-temperature,37.137,Cel,2019-06-28
17668,fd100,2019-06-28 20:57:07,body-temperature,36.785,Cel,2019-06-28
17669,fd100,2019-06-28 20:57:30,body-temperature,36.815,Cel,2019-06-28
17670,fd100,2019-06-28 21:06:15,body-temperature,36.922,Cel,2019-06-28
17671,fd100,2019-06-28 21:06:52,body-temperature,36.558,Cel,2019-06-28
17672,fd100,2019-06-28 21:07:00,body-temperature,35.452,Cel,2019-06-28
17675,fd100,2019-06-28 21:09:27,heart-rate,61.000,beats/min,2019-06-28
17674,fd100,2019-06-28 21:09:27,diastolic-blood-pressure,74.000,mm[Hg],2019-06-28
17673,fd100,2019-06-28 21:09:27,systolic-blood-pressure,138.000,mm[Hg],2019-06-28
17676,fd100,2019-06-28 21:32:19,body-temperature,36.879,Cel,2019-06-28
17677,fd100,2019-06-28 21:32:46,body-temperature,36.879,Cel,2019-06-28
17678,fd100,2019-06-29 21:05:11,body-temperature,36.240,Cel,2019-06-29
17679,fd100,2019-06-29 21:05:42,body-temperature,36.240,Cel,2019-06-29

In [57]:
print(data_physiology.shape, daily_physiology.shape)
print(daily_physiology.columns.values)
display(daily_physiology)
display(data_physiology)

(2578, 11) (3, 11)
['id' 'date' '6h' 'body-temperature' 'body-weight'
 'diastolic-blood-pressure' 'heart-rate' 'muscle-mass'
 'systolic-blood-pressure' 'total-body-water' 'skin-temperature']

,id,date,6h,body-temperature,body-weight,diastolic-blood-pressure,heart-rate,muscle-mass,systolic-blood-pressure,total-body-water,skin-temperature
0,fd100,2019-06-27,06-12,36.6996,55.8,76.0,54.0,37.5,153.0,48.7,<NA>
1,fd100,2019-06-28,18-24,36.6784,NaN,74.0,61.0,NaN,138.0,NaN,<NA>
2,fd100,2019-06-29,18-24,36.2400,NaN,NaN,NaN,NaN,NaN,NaN,<NA>

,id,date,6h,body-temperature,body-weight,diastolic-blood-pressure,heart-rate,muscle-mass,systolic-blood-pressure,total-body-water,skin-temperature
0,0697d,2019-06-28,12-18,36.1864,86.3,82.0,42.0,64.5,165.0,50.6,NaN
1,0697d,2019-06-29,12-18,36.9148,86.1,78.5,60.0,64.6,157.0,51.2,NaN
2,0697d,2019-06-30,12-18,35.9532,NaN,80.5,52.5,NaN,152.0,NaN,NaN
3,099bc,2019-05-15,06-12,NaN,53.3,NaN,NaN,39.8,NaN,54.0,NaN
4,099bc,2019-05-15,12-18,37.2293,NaN,75.5,82.5,NaN,127.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2573,f220c,2019-06-23,12-18,36.2770,NaN,70.0,73.0,NaN,111.0,NaN,33.730
2574,f220c,2019-06-29,06-12,37.0362,NaN,68.0,84.0,NaN,110.0,NaN,35.381
2575,fd100,2019-06-27,06-12,36.6996,55.8,76.0,54.0,37.5,153.0,48.7,NaN
2576,fd100,2019-06-28,18-24,36.6784,NaN,74.0,61.0,NaN,138.0,NaN,NaN
2577,fd100,2019-06-29,18-24,36.2400,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# Label

import utils_data
importlib.reload(utils_data)

from utils_data import extract_6h_labels

data_labels = []

for idx, (id, group) in enumerate(labels.sort_values('id').groupby('id')):

    group['date-time'] = pd.to_datetime(group['date-time'])
    group = group.sort_values('date-time')
    group['date'] = group['date-time'].dt.date


    daily_labels = extract_6h_labels(group)

    data_labels.append(daily_labels)


data_labels = pd.concat(data_labels, ignore_index=True)
data_labels.to_csv(os.path.join(destination, 'data-06h-labels' + '.csv'), index=False)

In [59]:
print(data_labels['agitation'].sum())
print(data_labels.shape, daily_labels.shape)
print(daily_labels.columns.values)
display(daily_labels)
display(data_labels)

135.0
(1900, 9) (4, 9)
['id' 'date' '6h' 'blood-pressure' 'agitation' 'body-water' 'pulse'
 'weight' 'body-temperature-label']

,id,date,6h,blood-pressure,agitation,body-water,pulse,weight,body-temperature-label
0,fd100,2019-06-27,00-06,0.0,0,0,0,0,0
1,fd100,2019-06-27,06-12,1.0,0,0,0,0,0
2,fd100,2019-06-27,12-18,0.0,0,0,0,0,0
3,fd100,2019-06-27,18-24,0.0,0,0,0,0,0

,id,date,6h,blood-pressure,agitation,body-water,pulse,weight,body-temperature-label
0,0697d,2019-06-28,00-06,0.0,0.0,0.0,0.0,0.0,0.0
1,0697d,2019-06-28,06-12,0.0,0.0,0.0,0.0,0.0,0.0
2,0697d,2019-06-28,12-18,1.0,0.0,0.0,1.0,0.0,0.0
3,0697d,2019-06-28,18-24,0.0,0.0,0.0,0.0,0.0,0.0
4,0697d,2019-06-29,00-06,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1895,eca1f,2019-06-19,18-24,0.0,0.0,0.0,0.0,0.0,0.0
1896,fd100,2019-06-27,00-06,0.0,0.0,0.0,0.0,0.0,0.0
1897,fd100,2019-06-27,06-12,1.0,0.0,0.0,0.0,0.0,0.0
1898,fd100,2019-06-27,12-18,0.0,0.0,0.0,0.0,0.0,0.0
1899,fd100,2019-06-27,18-24,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
import utils_data
importlib.reload(utils_data)

from utils_data import add_agitation_next_6h

data = data_activity.merge(
    data_physiology, on=['id', 'date', '6h'], how='outer').merge(
        data_labels, on=['id', 'date', '6h'], how='outer').merge(
            demographics, on='id', how='left')

data = add_agitation_next_6h(data)
data = data[data['agitation-next'] != -10]


data.to_csv(os.path.join(destination, 'data-06h' + '.csv'), index=False)
display(data)
print(data.columns)
print(data['agitation'].sum(), data['agitation-next'].sum())

,id,date,6h,back-door,bathroom,bedroom,fridge-door,front-door,hallway,kitchen,...,blood-pressure,agitation,body-water,pulse,weight,body-temperature-label,age,sex,agitation-next,agitation-four
0,0697d,2019-06-28,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,85,1,0.0,0
1,0697d,2019-06-28,06-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,85,1,0.0,0
2,0697d,2019-06-28,12-18,12.0,5.0,18.0,23.0,27.0,30.0,57.0,...,1.0,0.0,0.0,1.0,0.0,0.0,85,1,0.0,0
3,0697d,2019-06-28,18-24,2.0,2.0,6.0,0.0,1.0,10.0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,85,1,0.0,0
4,0697d,2019-06-29,00-06,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,85,1,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10979,fd100,2019-06-29,12-18,0.0,10.0,19.0,17.0,9.0,25.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100,0,NaN,-10
10980,fd100,2019-06-29,18-24,0.0,13.0,16.0,3.0,3.0,23.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100,0,NaN,-10
10981,fd100,2019-06-30,00-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100,0,NaN,-10
10982,fd100,2019-06-30,06-12,0.0,13.0,34.0,5.0,8.0,17.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100,0,NaN,-10
10983,fd100,2019-06-30,12-18,0.0,3.0,29.0,3.0,4.0,6.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100,0,NaN,-10

Index(['id', 'date', '6h', 'back-door', 'bathroom', 'bedroom', 'fridge-door',
       'front-door', 'hallway', 'kitchen', 'lounge', 'total-events',
       'unique-locations', 'active-location-ratio', 'private-to-public-ratio',
       'location-entropy', 'location-dominance-ratio', 'back-and-forth-count',
       'num-transitions', 'back-door-count-max', 'back-door-count-mean',
       'back-door-count-std', 'back-door-count-sum', 'bathroom-count-max',
       'bathroom-count-mean', 'bathroom-count-std', 'bathroom-count-sum',
       'bedroom-count-max', 'bedroom-count-mean', 'bedroom-count-std',
       'bedroom-count-sum', 'fridge-door-count-max', 'fridge-door-count-mean',
       'fridge-door-count-std', 'fridge-door-count-sum',
       'front-door-count-max', 'front-door-count-mean', 'front-door-count-std',
       'front-door-count-sum', 'hallway-count-max', 'hallway-count-mean',
       'hallway-count-std', 'hallway-count-sum', 'kitchen-count-max',
       'kitchen-count-mean', 'kitchen-count-std', 'kitchen-count-sum',
       'lounge-count-max', 'lounge-count-mean', 'lounge-count-std',
       'lounge-count-sum', 'body-temperature', 'body-weight',
       'diastolic-blood-pressure', 'heart-rate', 'muscle-mass',
       'systolic-blood-pressure', 'total-body-water', 'skin-temperature',
       'blood-pressure', 'agitation', 'body-water', 'pulse', 'weight',
       'body-temperature-label', 'age', 'sex', 'agitation-next',
       'agitation-four'],
      dtype='object')
135.0 135.0

In [ ]:
# _data_ = sleep
_data_ = physiology
# _data_ = activity

print(_data_.columns)
# display(_data_)
print(_data_.isna().sum().sum())


_data_['date-time'] = pd.to_datetime(_data_['date-time'])
_data_ = _data_.sort_values('date-time')
_data_['date'] = _data_['date-time'].dt.date

display(_data_['id'].nunique())
display(_data_['date'].nunique())
display(np.round((2803-_data_[['id', 'date']].drop_duplicates().shape[0]) / 2803 * 100, 2))




# types = ['body-temperature', 'systolic-blood-pressure', 'diastolic-blood-pressure', 'heart-rate',
#          'body-weight', 'muscle-mass', 'total-body-water', 'skin-temperature']
# for i, group in _data_.groupby(['id', 'date']):
#     print(
#         group.shape,
#         group[group['type'] == types[0]].shape
#         )
#     display(group[group['type'] == types[0]])

Index(['id', 'date-time', 'type', 'value', 'unit'], dtype='object')
0